[2019-04-17 12:15] raukadah opened #3 "May 2019 PythonPune community news collection box"
Lots of things are happening around the Python community. Let's assemble all the news at one place. So that during the may month meetup we can publish it.

Any can contribute to it by commenting the news link in github issue comments.
Let's keep it coming!

[2019-04-17 12:17] raukadah commented on #3
Python Used to Take Photo of Black Hole
http://www.blog.pythonlibrary.org/2019/04/11/python-used-to-take-photo-of-black-hole/

[2019-04-17 13:33] akshay196 commented on #3
PyTexas 2019 happened on 13th and 14th April. Few talks available as follows:
- [Keynote: My Path to Becoming a Python Core Developer](https://www.pytexas.org/2019/talk/U2Vzc2lvbk5vZGU6ODU=)
   By Emily Morehouse.
   https://www.youtube.com/watch?v=rOzUMQW4p0Y (~36 min)
- [Keynote: The Zen of Python Teams](https://www.pytexas.org/2019/talk/U2Vzc2lvbk5vZGU6MTAy)
  By Adrienne Lowe.
  https://www.yo

[2019-04-17 15:15] raukadah commented on #3
https://djangochat.com/

[2019-04-18 16:04] raukadah commented on #3
PSF 2019 Annual Report https://www.python.org/psf/annual-report/2019/

[2019-04-26 16:20] raukadah commented on #3
https://pydist.com/  https://twitter.com/di_codes/status/1121810910887272448

[2019-05-06 08:26] raukadah commented on #3
Raymond Hettinger - Modern solvers: Problems well-defined are problems solved - PyCon 2019 - https://www.youtube.com/watch?reload=9&v=_GP9OpZPUYc

[2019-05-06 08:28] raukadah commented on #3
Hynek Schlawack - Maintaining a Python Project When It’s Not Your Job - PyCon 2019 - https://www.youtube.com/watch?v=9G2s1TN9QQY

[2019-05-06 08:30] raukadah commented on #3
Automate your Python code tests with tox - https://opensource.com/article/19/5/python-tox

[2019-05-06 10:35] digitronik commented on #3
This is not a new thing...

[2019-05-06 11:08] akshay196 commented on #3
Kenneth Reitz, developer of `requests` is now working on [Requests 3](https://3.python-requests.org/). Check out video regarding Python development on Request 3.
https://www.youtube.com/watch?v=wRn_N034YO0

[2019-05-08 17:09] raukadah commented on #3
Faris Chebib - Help! I'm now the leader of our Meetup group! - PyCon 2019 https://www.youtube.com/watch?v=h5YrZt788CY  https://twitter.com/siraf

[2019-05-10 07:45] raukadah commented on #3
Replace Nested Conditional with Guard Clauses - https://refactoring.com/catalog/replaceNestedConditionalWithGuardClauses.html
https://twitter.com/TalkPython/status/1126559736076341248

[2019-05-10 07:47] raukadah commented on #3
@akshay196 @digitronik @bhavin192 @amolkahat Please vote for the links which we want to include in tomorrows newsletter.

[2019-05-10 14:42] akshay196 commented on #3
Mozilla announced [Pyodide](https://github.com/iodide-project/pyodide/) to bring the scientific Python stack in the browser. Read more about [Pyodide on Mozilla Hacks](https://hacks.mozilla.org/2019/04/pyodide-bringing-the-scientific-python-stack-to-the-browser/). Or [try it now](https://alpha.iodide.io/notebooks/300/)!

[2019-05-10 15:45] akshay196 commented on #3
Visual Studio Code announced the preview of three new extensions that enable seamless development in Containers, remotely on physical or virtual machines, and with the Windows Subsystem for Linux (WSL).

Checkout short demo videos:
[Visual Studio Code Remote - WSL](https://youtu.be/mIHprjsSO9o)
[Visual Studio Code Remote - SSH](https://youtu.be/rh1Ag41J6IA)
[Visual Studio Code Remote - Containers]

[2019-05-10 17:06] raukadah opened #6 "Sanity checking for meetup talks repo"
All the meetup talks are getting added here. Below is the list of things that needs to be validated.
* All the links must be checked whether they are working or not.
* Add a post merge job which will send an email to the pythonpune google groups about newsletter
  followed by comments.

All should be done automatically when a pull requests come.

[2019-05-10 17:12] raukadah opened #7 "Migrate all the meetup talks from previous years"
Since we are going to complete 5 years of pythonpune meetup group. We need to migrate all the talks and company name with dates in the repo itself.
Please use this issue to discuss the plan further.
@bhavin192 @amolkahat @gauravsitlani @akshay196 @girish946 @digitronik @vishalvijayraghavan

[2019-05-11 04:44] #3 closed

[2019-05-20 11:19] raukadah opened #8 "June 2019 PythonPune community news collection box"
Lots of things are happening around the Python community. Let's assemble all the news and events happening in Pune at one place. So that during the may month meetup we can publish it.

Any can contribute to it by commenting the news link in github issue comments.
Let's keep it coming!

[2019-05-21 07:32] raukadah commented on #8
PEP 581 -- Using GitHub Issues for CPython - https://www.python.org/dev/peps/pep-0581/
source: https://twitter.com/VictorStinner/status/1128476712084410373

[2019-05-21 07:33] raukadah commented on #8
@bhavin192 @akshay196 @amolkahat @vishalvijayraghavan @digitronik Let's use this issue for this month news collection

[2019-05-21 07:35] raukadah commented on #8
Python Language Summit and for writing up the blog post for The PSF - https://pyfound.blogspot.com/2019/05/the-2019-python-language-summit.html
source: https://twitter.com/mariatta/status/1128766697102426113

[2019-05-21 07:36] raukadah commented on #8
The Price of the Hallway Track - https://hynek.me/articles/hallway-track/
Source: https://twitter.com/hynek/status/1128708963334283264

[2019-05-21 07:43] raukadah commented on #8
Some more blogs taken from pythonweekly issue 397:
* Has the Python GIL been slain? - https://hackernoon.com/has-the-python-gil-been-slain-9440d28fa93d
* f-string debugging in Python 3.8 - https://tirkarthi.github.io/programming/2019/05/08/f-string-debugging.html

[2019-05-21 17:40] girish946 commented on #8
Mode Studio combines a SQL editor, Python & R notebooks, and visualization builder in one platform. - https://mode.com/?utm_campaign=studio&utm_content=studio_20190514

[2019-05-24 16:20] raukadah commented on #8
Who put Python in the Windows 10 May 2019 Update? https://devblogs.microsoft.com/python/python-in-the-windows-10-may-2019-update/

[2019-05-24 16:29] raukadah commented on #8
The programmer who created Python isn’t interested in mentoring white guys https://qz.com/1624252/pythons-creator-thinks-it-has-a-diversity-problem/

[2019-05-28 08:06] raukadah commented on #8
Python programs to practice or demonstrate skills - https://github.com/norvig/pytudes
source: https://twitter.com/ananis25/status/1133043909771309056

[2019-05-28 17:14] akshay196 opened #10 "[Talk Proposal] Let's dive into "logging in Python""
**Title of the talk**
Let's dive into logging in Python

**Description**
In simple term, logging is a way to understand what is going on
inside an application. It can help programmer to understand flow of a
program. With logging, it is easy to constantly look at the flow that
an application going through. If error occurs, logger can provide more
insights like state of application before it arrived

[2019-05-29 05:35] raukadah commented on #8
https://snarky.ca/why-python-3-exists/ - Why Python 3 exists

[2019-05-29 16:10] raukadah commented on #8
Python Core Developer Mentorship - https://pyfound.blogspot.com/2019/05/python-core-developer-mentorship.html

[2019-05-30 12:12] bhavin192 commented on #10
@akshay196 thank you for a detailed proposal.
This talk is scheduled in https://www.meetup.com/PythonPune/events/261809068/

[2019-05-30 12:35] bhavin192 opened #11 "[Talk Proposal] GNU Emacs - tool for all your editing needs"
**Title of the talk**
 GNU Emacs - tool for all your editing needs

**Description**
We spend most of our time writing things, be it code,
documentation, blog post, emails etc. The tool that one uses to write
things should be something which is highly configurable and focuses
more on productivity. This talk will cover reasons why one should use
GNU Emacs, it will cover various things Emacs can do o

[2019-05-30 12:36] bhavin192 commented on #11
This talk is scheduled in https://www.meetup.com/PythonPune/events/261809068/

[2019-05-30 14:54] akshay196 commented on #11
@bhavin192 Thank you for this proposal.

Elpy is an Emacs package to bring powerful Python editing to Emacs. We
will try to explain how to use Elpy to work on Python project using
Emacs.

**Prerequisites**
If possible, try for elpy installation on Emacs. You can refer [this
doc](https://elpy.readthedocs.io/en/latest/introduction.html#installation) for installation.

For any kind of query ping us o

[2019-05-30 14:58] akshay196 commented on #11
Here is the good tour for Emacs beginners. Hope this helps.
https://www.gnu.org/software/emacs/tour/

@bhavin192 Can you update description to have this link?

[2019-06-03 17:13] raukadah commented on #8
Python in Azure Pipelines, Step by Step - https://hynek.me/articles/simple-python-azure-pipelines/

[2019-06-04 17:46] raukadah commented on #8
Dataclasses and attrs: when and why- https://www.revsys.com/tidbits/dataclasses-and-attrs-when-and-why/

[2019-06-04 17:52] amolkahat commented on #8
Introduction to Pandas: https://www.pythonforengineers.com/introduction-to-pandas/

[2019-06-04 17:55] amolkahat commented on #8
Pandas Documentation Sprint: https://python-sprints.github.io/pandas/guide/index.html

[2019-06-04 18:25] amolkahat commented on #8
Why Python is slow: https://jakevdp.github.io/blog/2014/05/09/why-python-is-slow/

[2019-06-05 15:24] #6 closed

[2019-06-06 17:11] ChaitMat opened #13 "[Talk Proposal] Web app to control my AC over the internet"
I would like to give an overview of the raspberry pi project I am working on which is a web app that I use to control the air conditioner in my room. I would like to talk about the following:-
- Flask, the micro web framework I used to build the app
- Celery, python module to run asynchronous tasks.
- MQTT protocol and paho-MQTT module to send data to multiple devices.
I don't wish to go in the de

[2019-06-06 18:35] raukadah commented on #13
@bhavin192 @vishalvijayraghavan @digitronik @akshay196 Is it possible to include in this meetup?

[2019-06-06 18:37] raukadah commented on #8
A compilation of text-based games written in Python that only use "standard i/o". - https://github.com/asweigart/PythonStdioGames

[2019-06-06 18:38] raukadah commented on #8
@amolkahat @girish946 @digitronik @bhavin192 @akshay196 Tomorrow we are finalizing the final newsletter tomorrow.

[2019-06-07 02:39] bhavin192 commented on #13
Hey @ChaitMat, thank for sending the talk proposal. Will it be possible for you to deliver this in tomorrow's meetup that is 8th June?

[2019-06-07 03:04] ChaitMat commented on #13
Yes it is possible. I will not take more than 15mins to deliver the talk.

[2019-06-07 03:06] bhavin192 commented on #13
Great! I will add your talk to meetup description.

[2019-06-07 05:05] girish946 commented on #8
Kivy 1.11.0 released. Supports python 3.5+ only.
https://github.com/kivy/kivy/releases/tag/1.11.0

On Friday, June 7, 2019, Chandan Kumar (raukadah) <notifications@github.com>
wrote:

--
Girish Joshi
girishjoshi.io

[2019-06-08 06:31] raukadah opened #15 "Enable pythonpune github org git activity on IRC"
Since all the work related to pythonpune is done on GitHub and currently communication is handled on #pythonpune IRC channel on Freenode server.

We need to enable github irc bot notification for following activities:
* When a pull request is made:
   * Any reviewers comments on that
   * CI check passes
   * New patchset updated
   * Finally the review merges

* When a new issue gets created:

[2019-06-08 06:31] raukadah commented on #15
@amolkahat @digitronik Have a look on this and feel free to edit it.

[2019-06-11 03:05] raukadah commented on #8
Fixed by https://github.com/pythonpune/meetup-talks/pull/14

[2019-06-11 03:05] #8 closed

[2019-06-11 05:40] raukadah opened #16 "July 2019 Python Pune Newsletter Collection Box"
Let's use this issue to collect python related news, new package updates and events happening around Pune. We can compile and publish it during July pythonpune meetup.

## How to add news:
Comment on this issue with news link and news topic and also include the source from we got this.

## How to add new package release:
Paste the link of new package release

## How to include events here:
if a ne

[2019-06-11 05:42] raukadah commented on #16
50,000,000 Twisted Downloads Can't Be Wrong - https://atleastfornow.net/posts/py2-py3-twisted-downloads/

[2019-06-11 05:43] raukadah commented on #16
Python for Reverse Engineering 1: ELF Binaries - https://icyphox.sh/blog/python-for-re-1/

[2019-06-11 06:32] vishalvijayraghavan commented on #16
Python 3.8.0 beta available  - https://www.python.org/downloads/release/python-380b1/
What's new in Python 3.8 - https://docs.python.org/3.8/whatsnew/3.8.html

[2019-06-11 13:21] sourabhdeshmukh commented on #16
How to Get the Most Out of PyCon - https://realpython.com/pycon-guide/

[2019-06-13 09:07] raukadah commented on #16
https://laike9m.com/blog/demystifying-extended_arg,124/ - Demystifying EXTENDED_ARG

[2019-06-14 08:32] raukadah commented on #16
Toward a “Kernel Python” - https://glyph.twistedmatrix.com/2019/06/kernel-python.html

[2019-06-14 09:33] bhavin192 commented on #10
#17 is merged.

[2019-06-14 09:33] #10 closed

[2019-06-14 09:34] bhavin192 commented on #11
#17 is merged.

[2019-06-14 09:34] #11 closed

[2019-06-16 14:14] raukadah commented on #16
https://realpython.com/pointers-in-python/ - Pointers in Python: What's the Point?

[2019-06-16 14:15] raukadah commented on #13
@bhavin192 What is the next step here?

[2019-06-16 17:44] bhavin192 commented on #13
@ChaitMat can you please share slides of you talk?

[2019-06-16 18:32] ChaitMat commented on #13
I will share it tomorrow with the complete code.

[2019-06-18 04:22] ChaitMat commented on #13
Please find the repository of the project here: [https://github.com/ChaitMat/my_room_environment_control](https://github.com/ChaitMat/my_room_environment_control)
Link to the presentation [here](https://docs.google.com/presentation/d/1q0qw2O6a-XGQaC2bJTWJJGZb-Y2YTlUi307I75EcJnY/edit?usp=sharing)

[2019-06-22 23:42] raukadah commented on #16
What’s happening with that pip dependency resolver? - https://pradyunsg.me/blog/2019/06/23/pip-update/

[2019-06-24 08:40] #13 closed

[2019-06-25 15:27] akshay196 commented on #16
Rootconf 2019 recordings are out. See sessions playlist [here](https://www.youtube.com/playlist?list=PL279M8GbNsesB7sxLO5zNbBHkOVvb7uvy)

Few recommended talks,
1. [Building reproducible Python applications for secured environments](https://www.youtube.com/watch?v=WAKk83RVtLE&list=PL279M8GbNsesB7sxLO5zNbBHkOVvb7uvy&index=26&t=0s) (~27 min)
     By Kushal Das.

[2019-06-25 16:02] raukadah commented on #16
Python's Tale - https://www.redhat.com/en/command-line-heroes/season-3/pythons-tale

[2019-06-25 16:04] raukadah commented on #16
Few blogs on debugging:
Debugging Python programs - https://stribny.name/blog/2019/06/debugging-python-programs
What does debugging a program look like? - https://jvns.ca/blog/2019/06/23/a-few-debugging-resources/

[2019-06-26 08:12] sourabhdeshmukh commented on #16
Programming the cloud with Python - https://blog.pulumi.com/programming-the-cloud-with-python

[2019-06-26 09:19] raukadah commented on #16
Building Standalone Python Applications with PyOxidizer - https://gregoryszorc.com/blog/2019/06/24/building-standalone-python-applications-with-pyoxidizer/

[2019-06-28 19:02] sundeep-co-in opened #19 "[lightning talk] log.today"
**Title of the talk**

### Make contribution to your short term goals daily.

**Description**

All throughout schooling we learn to work hard preparing for exams and celebrate the results! This induces tendency to set short term goals and put some efforts achieving it. Almost every one has some method to plan and execute, what ever goals, one has. For some goals rigorous efforts are required where

[2019-06-28 19:10] sundeep-co-in opened #20 "static generator"
may be useful to use some static site generator
options: https://www.staticgen.com

I can help with https://www.mkdocs.org/ or Jekyll

[2019-06-30 06:42] #20 closed

[2019-07-01 12:10] BhushnGit9 opened #21 "Improving Data Quality with Python"
**Improving Data Quality with Python**

**Description**
Data today is ubiquitous, it is generated and consumed
 But looking at data we look at it as a BIG Picture , whereas we need to look at the
details of how data quality can be improved and worked upon by Python.

**Prerequisites**

[2019-07-01 12:40] gabhijit opened #22 "Python for simulating Poker Games"
**Python for Simulating Poker Games**

This talk is about the proposal that is submitted to Pycon India 2019. We look at simulating Poker games as a way of getting started thinking in Python, that is in terms of it's built-ins core constructs and standard libraries.
[here is a link to the CFP submission](https://in.pycon.org/cfp/2019/proposals/call-raise-or-fold-python-for-simulating-poker-games~b

[2019-07-02 16:48] bhavin192 commented on #19
Thank you for submitting the talk. Will you be able to deliver this on 13th of July? Also, can you please share duration of talk?
https://www.meetup.com/PythonPune/events/262769950/

[2019-07-02 16:49] bhavin192 commented on #21
Thank you for submitting the talk. Will you be able to deliver this on 13th of July? Also can you please share duration of talk?
https://www.meetup.com/PythonPune/events/262769950/

[2019-07-02 16:52] bhavin192 commented on #22
Thank you for submitting the talk. Will you be able to deliver this on 13th of July? Talk duration would be around 40 to 50 minutes?
https://www.meetup.com/PythonPune/events/262769950/

[2019-07-04 03:58] gabhijit commented on #22
Since this is a talk submitted to Pycon, I am planning to stay within 30 mins. So that it should give me a good feedback about how to timebox my talk in case my proposal gets selected for Pycon India.

[2019-07-04 10:16] sundeep-co-in commented on #19
thanks for the response :+1:

Apologies - I may not be able to deliver this on `13th July`; would request to consider in following meetups.

[2019-07-04 15:31] souravsingh opened #23 "Advanced Twitter Scraping using Twint"
**Title**
Advanced Twitter Scraping using Twint

**Description**
When we want to scrape tweets from Twitter, we are limited by API limits. Twint is an advanced tool for scraping tweets from Twitter without any need of an API key. Twint can also do advanced scraping like scraping tweets based on a location, scraping only tweets of a verified person on a topic and many others. I hope to explore the

[2019-07-05 04:28] bhavin192 commented on #23
Hey @souravsingh, thank you for submitting the talk. Can we schedule this for the meetup on 13th of July?
https://www.meetup.com/PythonPune/events/262769950/

[2019-07-05 04:30] bhavin192 commented on #22
This talk has been added to the meetup agenda [here]( https://www.meetup.com/PythonPune/events/262769950/).

[2019-07-05 11:16] souravsingh commented on #23
Sure

[2019-07-05 11:54] digitronik opened #24 "Introduction to Python Packaging"
**Title of the talk**

Introduction to Python Packaging

**Description**

Just instruction to python packaging and hands-on on `pypi` package upload.

**Prerequisites**

[2019-07-05 12:05] digitronik opened #25 "Exploring Graph Automation in Python"
**Title of the talk**

Exploring Graph Automation in Python

**Description**

How do you automate graphs? How you read chart data using selenium? What are the difficulties faced while automating Graphs? these are a question which I like to cover in talk.

**Prerequisites**

- Python selenium setup
- https://github.com/digitronik/tutorial_widgetastic

[2019-07-05 12:54] bhavin192 commented on #23
This talk has been added to the meetup agenda [here]( https://www.meetup.com/PythonPune/events/262769950/).

[2019-07-05 13:25] raukadah commented on #16
Python Continuous Integration and Deployment From Scratch - https://semaphoreci.com/blog/python-continuous-integration-continuous-delivery

[2019-07-05 13:46] raukadah commented on #16
Why do Python lists let you += a tuple, when you can’t + a tuple? - https://lerner.co.il/2019/06/06/why-do-python-lists-let-you-a-tuple-when-you-cant-a-tuple/

[2019-07-05 17:21] satyamsoni2211 opened #26 "Dask distributed computing ( more power to pandas and numpy array )"
**Title of the talk**
Dask distributed computing ( more power to pandas and numpy array )

**Description**
Parallel processing with pandas data frame and numpy array
Talking over memory issues with pandas
Improving performance measures

**Prerequisites**
Dask
Pandas
Numpy
Graphviz
Python-graphviz

[2019-07-08 15:48] bhavin192 commented on #26
Thank you for submitting the talk. Can you please share duration of talk?

[2019-07-08 16:46] satyamsoni2211 commented on #26
45 mins including demo

[2019-07-09 01:56] akshay196 commented on #26
This talk has been added to the July 2019 meetup [here](https://www.meetup.com/PythonPune/events/262769950/). Thanks @satyamsoni2211 for the proposal.

cc @bhavin192

[2019-07-11 08:14] ChaitMat opened #27 "Development of web portal to register bookings for a trekking group."
Hi guys,
My friend runs a commercial trekking group called [PHE - Pune Hiking Enthusiasts](https://www.meetup.com/PuneHikers/). People contact him and his partners to book for an event by  personally calling or messaging them. He wishes to develop a web portal where he and his partners can register the bookings and keep a track of all the bookings from multiple events.
Can you guys guide us in dev

[2019-07-11 17:09] raukadah commented on #16
Python is eating the world: How one developer's side project became the hottest programming language on the planet - https://www.techrepublic.com/article/python-is-eating-the-world-how-one-developers-side-project-became-the-hottest-programming-language-on-the-planet/

[2019-07-11 17:12] raukadah commented on #27
Sure, feel free to drop by meetup, we can discuss.

[2019-07-12 16:27] raukadah opened #29 "mdcheckr travis is broken due to ppa:mike42/mdcheckr not found"
mdchecker travis ci is broken due to
[code]
Build link: https://travis-ci.org/pythonpune/meetup-talks/builds/557927092?utm_source=github_status&utm_medium=notification

[2019-07-12 18:06] digitronik commented on #29
This is normal problem with travis ubuntu environment. I restarted build... Its working fine.

I found new bug in `mdcheckr` need some enhancements. Thanks for issue.
I am going to work on this.

[2019-07-12 18:06] #29 closed

[2019-07-12 18:08] digitronik opened #30 "[Travis] Some link not able check"
https://t.me/joinchat/A3Rp5BDl9LpWMHujwZpGAw

Link how having acceptance `text/html` not checked by travis.

reference issue:
https://github.com/mike42/mdcheckr/issues/20

[2019-07-13 05:44] #16 closed

[2019-07-13 09:37] ChaitMat commented on #27
Thank you guys for showing me your support. I will soon create a project repository. Looking forward for your suggestions.

[2019-07-13 14:22] gabhijit commented on #22
Here's the link to the code for today's talk

https://github.com/gabhijit/pycon/tree/master/2019/poker

[2019-07-13 14:23] Deadshot20 opened #31 "What the heck is word embedding?"
**Title of the talk**
Introduction to word embeddings (Word2Vec)

**Description**
In this talk, we will take a look into what do we mean when we say, **what is the "meaning" of a certain word? and how is this meaning encoded into word embeddings?** We will also demonstrate how **feature engineering** can help you in getting that "slight increase" in the overall performance of your model.

**Prereq

[2019-07-13 14:25] akshay196 commented on #22
@gabhijit Thanks you for wonderful talk and sharing slides.

[2019-07-13 14:30] raukadah commented on #27
For Django Pool tutorial follow the links below:
* Installation guide: https://docs.djangoproject.com/en/2.2/intro/install/
* Poll tutorial onward: https://docs.djangoproject.com/en/2.2/intro/tutorial01/ and move further

[2019-07-13 17:15] digitronik commented on #26
@satyamsoni2211 can you please add Jupiter notebook repo link?

[2019-07-15 07:24] Deadshot20 opened #32 "Intelligence and Learning (Genetic Algorithm)"
**Title of the talk**
Genetic Algorithm - GA

**Description**
The session will be focused on one type of evolutionary algorithms called GA's. We will cover the following:-

- The what/why of genetic algorithms?
- Walkthrough of the GA in detail
- Code walkthrough

**Will try to cover both, if possible**

**Prerequisites**

- Familiarity with python and DS related packages like numpy, matplotlib is

[2019-07-15 08:15] satyamsoni2211 commented on #26
[Dask Jupiter Notebook Link](https://github.com/satyamsoni2211/dask-tutorial-pycon-2018)

[2019-07-15 09:38] bhavin192 commented on #26
@satyamsoni2211 can you please share link to your slides as well?

[2019-07-15 17:19] digitronik commented on #32
@Deadshot20 thanks for talk-proposal :+1: please add talk duration and prerequisites.

[2019-07-16 04:00] Deadshot20 commented on #32
@digitronik I am still not sure about the duration of the talk as I am still preparing the content, but I am planning to keep it within 45-60 minutes (including session and QA). The talk proposal will be updated as soon as I finalize the content.

[2019-07-17 17:28] raukadah opened #33 "August 2019 Python Pune Newsletter Collection Box"
Let's use this issue to collect python related news, new package updates and events happening around Pune. We can compile and publish it during July pythonpune meetup.

## How to add news:
Comment on this issue with news link and news topic and also include the source from we got this.

## How to add new package release:
Paste the link of new package release

## How to include events here:
if a ne

[2019-07-17 17:33] raukadah commented on #33
Monkey Patching and its consequences - https://www.pythonforthelab.com/blog/monkey-patching-and-its-consequences/

[2019-07-17 17:33] raukadah commented on #33
The Programmer Mindset: Main Debug Loop - https://blogs.dropbox.com/tech/2019/07/the-programmer-mindset-main-debug-loop/

[2019-07-17 17:34] raukadah commented on #33
Loop Better: a deeper look at iteration in Python - Trey Hunner  - https://treyhunner.com/2019/06/loop-better-a-deeper-look-at-iteration-in-python/

[2019-07-17 19:05] raukadah commented on #33
@bhavin192 @digitronik @amolkahat @akshay196 Feel free to add more news to it

[2019-07-18 08:12] sudhackar opened #34 "[Talk Proposal] Vim for all you programming needs"
**Title of the talk**
Vim for all you programming needs

**Description**
Using vim and its plugins to create a powerful IDE to program in your favourite language. The talk will cover setting up vim, movement, buffers, windows, editing, linting, git workflow etc.

**Prerequisites**
Come with an open mind and a pc if you want to follow along the setup.

**Duration**
45-60 minutes should be the ideal

[2019-07-21 19:23] digitronik commented on #27
closing this issue; I think we discussed about this in last meetup.
Thanks for discussion topic :+1:

[2019-07-21 19:23] #27 closed

[2019-07-22 07:52] #22 closed

[2019-07-22 07:52] #23 closed

[2019-07-22 07:52] #26 closed

[2019-07-24 04:41] bhavin192 commented on #21
Hey @BhushnGit9 Will you be able to deliver this talk on 10th August? https://www.meetup.com/PythonPune/events/263413078/

[2019-07-24 04:45] bhavin192 commented on #34
Hey @sudhackar, thank you for showing some love for vim :smile:. I will go ahead and schedule your talk for the meetup on 10th August, https://www.meetup.com/PythonPune/events/263413078/. Does that work for you?

[2019-07-24 04:50] sudhackar commented on #34
That works for me. The meetup is in my office :sweat_smile:

[2019-07-27 19:14] amolkahat commented on #33
"Distroless" images contain only your application and its runtime dependencies. They do not contain package managers, shells or any other programs you would expect to find in a standard Linux distribution. https://github.com/GoogleContainerTools/distroless

[2019-07-27 19:16] amolkahat commented on #33
Loguru is a library which aims to bring enjoyable logging in Python. https://github.com/Delgan/loguru

[2019-07-29 06:58] sudhackar commented on #34
Hey Guys! Sorry I need to cancel. I'll not be available in the city. I'll arrange for someone to manage the venue. Can we do this talk next month or later maybe?

[2019-07-29 07:12] bhavin192 commented on #34
@sudhackar Okay, no worries. Let's schedule it in the next meetup then

[2019-07-29 08:59] raukadah commented on #33
PEG Parsers - https://medium.com/@gvanrossum_83706/peg-parsers-7ed72462f97c
Building a PEG Parser - https://medium.com/@gvanrossum_83706/building-a-peg-parser-d4869b5958fb

[2019-07-29 09:00] raukadah commented on #33
Cpython Bug Tracker: The broken promise of the Easy issue tag — My thoughts - https://medium.com/@Captain_Joannah/cpython-bug-tracker-the-broken-promise-of-the-easy-issue-tag-my-thoughts-c957c1039760

[2019-07-29 09:01] raukadah commented on #33
Regular Instance Methods vs Class Methods vs Static Methods - https://realpython.com/lessons/regular-instance-methods-vs-class-methods-vs-static-methods/

[2019-07-29 09:02] raukadah commented on #33
The SciPy Ecosystem Should Use Custom Entrypoints More- https://blog.danallan.com/posts/2019-07-24-use-entrypoints-more/

[2019-07-29 09:02] raukadah commented on #33
Deep vs Shallow Copy - with Examples  - https://dev.to/laurieontech/deep-vs-shallow-copy-with-examples-cfb

[2019-07-29 09:03] raukadah commented on #33
pandas: The two cultures - https://datapythonista.github.io/blog/pandas-the-two-cultures.html

[2019-07-29 09:05] raukadah commented on #33
SSHPry v2 - Spy & Control SSH Connected client's TTY  - http://www.korznikov.com/2017/09/sshpry-v2-spy-control-ssh-connected.html

[2019-07-30 19:10] raukadah commented on #33
Keynote: Python 2020 - Łukasz Langa - PyLondinium19 - https://www.youtube.com/watch?v=KDXhu4rxTNY

[2019-07-30 19:11] raukadah commented on #33
https://github.com/snovvcrash/usbrip

[2019-07-30 19:11] raukadah commented on #33
How to get work done in open source - http://www.gazlene.net/getting-work-done-in-open-source.html

[2019-08-01 05:17] raukadah commented on #19
@sundeep-co-in Will you be able to deliver this talk on 10th Aug meetup https://www.meetup.com/PythonPune/events/263413078/ ? If yes, then please share the duration of the talk?

[2019-08-01 05:18] raukadah commented on #32
@Deadshot20 Will you be able to deliver this talk on 10th Aug meetup https://www.meetup.com/PythonPune/events/263413078/ ? If yes, then please share the duration of the talk?

[2019-08-01 05:19] bhavin192 commented on #19
@raukadah nope, https://flocktofedora.org/ :smile:

[2019-08-01 05:19] raukadah commented on #31
@Deadshot20 It appears you have two talks, which one should we include n the 10th Aug meetup? https://www.meetup.com/PythonPune/events/263413078/

[2019-08-01 05:21] sundeep-co-in commented on #19
ah, I m travelling to `flock` that time; duration would be not more than 20 mins - until we get dragged into `django`. thanks @bhavin192 maybe in September!

[2019-08-01 06:21] Deadshot20 commented on #32
@raukadah Yes, I will be able to deliver it on 10th Aug meetup.

[2019-08-01 06:23] Deadshot20 commented on #31
@raukadah This talk will be taken by Mrs. Krishna Priya S (currently working as a Senior Data Scientist). I have just created the issue she will not be able to take it in this meetup, please consider it for next month's meetup.

[2019-08-01 08:18] answerquest commented on #33
[Trio](https://github.com/python-trio/trio) : a new library (package?) showcased at a PyCon2018 for parallel / concurrent processing. Found out in this video: https://www.youtube.com/watch?v=oLkfnc_UMcE (Nathaniel J. Smith - Trio: Async concurrency for mere mortals - PyCon 2018 -PyCon 2018, 2018-05-13)

and here's the companion documentation: https://vorpus.org/blog/companion-post-for-my-pycon-201

[2019-08-02 04:49] akshay196 commented on #25
@digitronik Thanks for the talk proposal. Will you be able to deliver this talk on 10th Aug meetup https://www.meetup.com/PythonPune/events/263413078/ ?

[2019-08-02 06:07] akshay196 commented on #32
@Deadshot20 Let's keep talk duration to 60 minutes (including session and QA). This will have enough time for the other speakers as well. Let us know if you have any query regarding time duration.

[2019-08-02 06:20] akshay196 commented on #32
The talk has been scheduled in [August 2019 meet-up](https://www.meetup.com/PythonPune/events/263413078/). @Deadshot20 See you at the venue on August 10.

[2019-08-02 06:24] akshay196 commented on #21
@BhushnGit9 Hi. Let us know if you are ready.

[2019-08-02 06:47] Deadshot20 commented on #32
Okay @akshay196 , I will work accordingly now. Thanks for scheduling the talk, see you on 10th. Can you please change the name from Sam Kapoor to Shaksham Kapoor (https://www.meetup.com/PythonPune/events/263413078/) :sweat_smile:

[2019-08-02 07:40] akshay196 commented on #32
Done. :smile:

[2019-08-04 14:27] BhushnGit9 commented on #21
Hi
Please let me know the details regarding the Program.
 Thanks
Bhushan

On 8/2/19, Akshay Gaikwad <notifications@github.com> wrote:

[2019-08-04 16:26] bhavin192 commented on #21
@BhushnGit9 All the details are there on the meetup page, please take a look at https://www.meetup.com/PythonPune/events/263413078/

[2019-08-05 05:38] raukadah commented on #33
PyPI now supports uploading via API token  - https://pyfound.blogspot.com/2019/07/pypi-now-supports-uploading-via-api.html

[2019-08-05 05:41] raukadah commented on #33
Why your mock doesn’t work - https://nedbatchelder.com/blog/201908/why_your_mock_doesnt_work.html

[2019-08-05 05:42] raukadah commented on #33
The Ultimate Guide To Memorable Tech Talks - https://medium.com/@nnja/the-ultimate-guide-to-memorable-tech-talks-e7c350778d4b

[2019-08-07 08:00] amolkahat commented on #33
PBKDF2 + HMAC Collision explained: https://mathiasbynens.be/notes/pbkdf2-hmac

[2019-08-08 05:08] Deadshot20 commented on #32
@akshay196 A silly request, if possible can we have a whiteboard? I will be needing it!!

[2019-08-08 11:45] akshay196 commented on #32
@Deadshot20 Whiteboard is available; confirmed with venue folks.

[2019-08-08 16:48] amolkahat commented on #33
Awesome Dotfiles: https://github.com/webpro/awesome-dotfiles

[2019-08-08 17:37] raukadah commented on #33
Loops in Python – comparison and performance - https://www.blog.duomly.com/loops-in-python-comparison-and-performance/

[2019-08-09 13:07] answerquest commented on #33
Datasette: Turn a sqlite db into a web frontend that can be queried by the user.
https://datasette.readthedocs.io/en/stable/installation.html#install-using-pip

[2019-08-11 15:33] akshay196 commented on #32
@Deadshot20 Can you please share link to your slides?

[2019-08-12 04:04] Deadshot20 commented on #32
@akshay196 Here is the PDF of the presentation.
[Genetic_Prog.pdf](https://github.com/pythonpune/meetup-talks/files/3491012/Genetic_Prog.pdf)

[2019-08-12 17:12] bhavin192 commented on #33
This was fixed by #36

[2019-08-12 17:12] #33 closed

[2019-08-18 08:55] raukadah opened #38 "September 2019 Python Pune Newsletter Collection Box"
Let's use this issue to collect python related news, new package updates and events happening around Pune. We can compile and publish it during July pythonpune meetup.

## How to add news:
Comment on this issue with news link and news topic and also include the source from we got this.

## How to add new package release:
Paste the link of new package release

## How to include events here:
if a ne

[2019-08-23 05:13] zer0ttl commented on #38
PPT from a talk I gave at the recent null meet (Pune).

### Introduction to Python asyncio for Hackers
A brief introduction the the python inbuilt module **asyncio** for hackers. Feel free to ping me in case of any questions. ([Telegram Link](https://telegram.me/zer0ttl))

PPT : [Google Drive](https://docs.google.com/presentation/d/1T1OhwqqkxfjhH8zj2wbSOhD0atDfV8yx-e8nWzmqwAs)

[2019-08-28 16:05] #25 closed

[2019-08-28 16:05] #32 closed

[2019-09-11 17:26] mandarvaze commented on #38
I've created a cookie cutter template for (opinionated) "real world" app based on pyramid web framework

https://github.com/mandarvaze/cookiecutter-pyramid-realworld

Issues/PRs welcome.

[2019-09-13 05:16] lucky31044 opened #41 "Web scrapping and automation using python would be a great thing to work upon"
**Title of the talk**
web scrapping and automation using python

**Description**
with ai their is a need of so much data but people often find themselves how to get the data ,data which is available freely over the internet but they don't know how to utilize it so web scrapping can help them boost their work by taking the leverage of internet resources .

**Prerequisites**
basic python understandi

[2019-09-16 05:09] chaitanyarahalkar opened #42 "Event Driven Programming Using Python"
Demonstration and explanation of event based programming in Python using the [Twisted framework](https://twistedmatrix.com/trac/). Twisted allows for event handling and asynchronous communication in Python.

[2019-09-16 05:12] #42 closed

[2019-09-16 05:14] chaitanyarahalkar opened #43 "Event Driven Programming Using Python"
**Event Driven Programming Using Python**

**Description**
Demonstration and explanation of event based programming in Python using the [Twisted framework](https://twistedmatrix.com/trac/). Twisted allows for event handling and asynchronous communication in Python.

**Prerequisites**
- Python 3 preinstalled
- Pip package manager
- Internet Connection

[2019-09-16 05:41] chaitanyarahalkar opened #44 "Hidden Secrets of Python"
**Hidden Secrets of Python**

**Description**
Python has a large number of really cool modules that people don't know about. These are quite helpful. People often tend to program the hard way since they don't know about the existence of these modules. Such examples can be the itertools module, the secrets module to generate secure random numbers etc.

**Prerequisites**

- Python 3 installed.

[2019-09-16 13:19] bhavin192 commented on #34
Hey @sudhackar Will you be able to deliver this on 28th of Sept?

[2019-09-17 13:20] bhavin192 commented on #41
Hello @lucky31044, thank you for the proposal. What is expected duration of your talk? And will you be able to deliver this during September meetup which is on 28th September?

[2019-09-17 13:21] bhavin192 commented on #44
@chaitanyarahalkar this is interesting talk! What is expected duration of your talk? And will you be able to deliver this in September meetup which is on 28th of this month?

[2019-09-17 13:27] lucky31044 commented on #41
September 28 sorry I am going for Google devfest if date is changeable
please tell .....I will try to demonstrate web scrapping how we can use it
and a multi threading approach for it for faster downloading it's a
practical and concept mashup 15 min short session

On Tue, Sep 17, 2019, 6:50 PM Bhavin Gandhi <notifications@github.com>
wrote:

[2019-09-17 13:33] deepscbe opened #45 "Regular Expressions - A Closer Look"
**Title of the talk**
Regular Expressions - A Closer Look

**Description**
Text parsing is an important aspect of data processing, but parsing huge raw files in order to extract useful data can be a pain sometimes. Yet it is a crucial part of creating structured and manageable data that can be used for further analysis

This is where regular expressions come in - often the topic of spirited debate

[2019-09-17 16:12] chaitanyarahalkar commented on #44
The talk will be around 30 minutes. I will be available to deliver this on September 28th, 2019. Also, I would like to present this with my friend Anushka Virgaonkar. So we would like to split the talk into two parts of around 15 minutes each. Will this be okay?

Thanks

[2019-09-17 16:15] bhavin192 commented on #44
That will be awesome, can you please  also mention their GitHub username here?

[2019-09-17 16:29] bhavin192 commented on #45
@deepscbe that's indeed an interesting topic to talk about. Can you also share the duration of your talk? And will you be able to deliver it during September meetup which is on 28th of this month?

[2019-09-17 16:53] chaitanyarahalkar commented on #44
Sure it is @anushkavirgaonkar

[2019-09-18 11:04] deepscbe commented on #45
Hi Bhavin,
Duration of the talk would be around 15-20 mins excluding QA time.
Yes, I can deliver it on September meetup.

Best Regards,
Deepa

[2019-09-18 17:37] bhavin192 commented on #44
The talk has been scheduled in [September 2019 meetup](https://www.meetup.com/PythonPune/events/264944825/). @chaitanyarahalkar @anushkavirgaonkar See you at the venue on September 28.

[2019-09-18 17:38] bhavin192 commented on #19
The talk has been scheduled in [September 2019 meetup](https://www.meetup.com/PythonPune/events/264944825/). @sundeep-co-in  See you at the venue on September 28.

[2019-09-18 17:39] bhavin192 commented on #45
The talk has been scheduled in [September 2019 meetup](https://www.meetup.com/PythonPune/events/264944825/). @deepscbe  See you at the venue on September 28.

[2019-09-19 05:37] sundeep-co-in commented on #19
thanks!

[2019-09-19 08:03] girish946 opened #46 "Things you can do to make your pet projects better."
**Things that can be done to make your pet project better.**

**Description**
This will be a talk about the things I've learnt in past few years while working on my pet projects.
This talk will touch the basics of following topics with reference to a couple of my own projects.

* Dependency management.
* Writing Test cases.
* Packaging.
* Documentation.
* Continuous Integration.
* Publishing the p

[2019-09-19 08:55] akshaywifi2 opened #47 "home security system"
"home invasion"is the biggest problem of our country and its very difficult find a solution.
tell me what are the method we use to solve this problem ? does the CCTV camera is the right option to solve this problem or we use high strength iron lock to save are house from a thefts.
now i have  a solution for this problem .here i am representing  my solution base project which includes Internet of t

[2019-09-19 11:20] sudhackar commented on #34
@bhavin192 Sorry I won't be able to make it to the meetup  this month.

[2019-09-26 12:11] bhavin192 commented on #44
Hey  @chaitanyarahalkar @anushkavirgaonkar tried finding you both on meetup.com to RSVP you, but wasn't able to get the correct profiles. Can you please send an email as mentioned in the meetup description?
https://www.meetup.com/PythonPune/events/264944825/

[2019-09-27 09:08] raukadah commented on #38
Lightweight pastebin for home network which may or may not be connected to the internet. - https://github.com/girish946/local-paste

[2019-09-27 09:32] raukadah commented on #38
How do you verify that PyPI can be trusted? - https://snarky.ca/how-do-you-verify-pypi-can-be-trusted/

[2019-09-27 09:32] raukadah commented on #38
Vote to promote Joannah Nanjekye as a core dev - https://discuss.python.org/t/vote-to-promote-joannah-nanjekye-as-a-core-dev/2347

[2019-09-27 09:32] raukadah commented on #38
Coverage.py 5.0a7, and the future of pytest-cov - https://nedbatchelder.com/blog/201909/coveragepy_50a7_and_the_future_of_pytestcov.html

[2019-09-27 09:32] raukadah commented on #38
(Almost) Never Delete a Release - https://pydist.com/blog/never-delete-a-release

[2019-09-27 09:33] raukadah commented on #38
Sunsetting Python 2 - https://www.python.org/doc/sunset-python-2/

[2019-09-27 10:46] #38 closed

[2019-09-28 13:32] chaitanyarahalkar opened #49 "Hidden Secrets of Python: Supplementary Talk Notebook"
Hey everyone,

Here is the notebook that me and @anushkavirgaonkar referred during our talk today -
[bit.ly/python-meetups-sept](https://bit.ly/python-meetups-sept). Feel free to make a copy of this and try out the code snippets. You can comment your queries following this issue thread.

Thanks,

Chaitanya & Anushka

[2019-09-28 14:56] bhavin192 commented on #44
https://github.com/pythonpune/meetup-talks/issues/49#issue-499773740

bit.ly/python-meetups-sept. Feel free to make a copy of this and try out the code snippets. You can comment your queries following this issue thread.

[2019-09-28 14:57] bhavin192 commented on #49
Added the comment on actual proposal https://github.com/pythonpune/meetup-talks/issues/44#issuecomment-536196724

Closing this issue.

[2019-09-28 14:57] #49 closed

[2019-10-03 15:20] raukadah opened #50 "October 2019 PythonPune Newsletter Collection Box"
Let's use this issue to collect python related news, new package updates and events happening around Pune. We can compile and publish it during July pythonpune meetup.

## How to add news:
Comment on this issue with news link and news topic and also include the source from we got this.

## How to add new package release:
Paste the link of new package release

## How to include events here:
if a ne

[2019-10-03 15:36] raukadah commented on #50
Limit Your Try Clauses in Python - https://adamj.eu/tech/2019/10/02/limit-your-try-clauses-in-python/

[2019-10-03 15:38] raukadah commented on #50
https://pyconf.hydpy.org/2019/

[2019-10-03 15:40] bhavin192 commented on #19
Hey @sundeep-co-in can you please share your slides?

[2019-10-03 15:41] bhavin192 commented on #45
Hey @deepscbe can you please share your slides?

[2019-10-04 06:15] sundeep-co-in commented on #19
Slides are [here](https://drive.google.com/file/d/1RF_p3YDBb15FD6E0fuv1QePToRGmD4vQ/view) and [here](https://youtu.be/IqMsb1ZTkBk) is the demo.

thanks!

[2019-10-04 12:28] raukadah commented on #50
My Most Used Pytest Commandline Flags - https://adamj.eu/tech/2019/10/03/my-most-used-pytest-commandline-flags/

[2019-10-09 10:01] deepscbe commented on #45
Hey,
Yea sure. sorry for the delay in response.
Please find the slides here: [https://github.com/deepscbe/Presentations/blob/master/PythonPune_Sep_2019_Regular_Expressions.odp]

[2019-10-09 10:08] raukadah commented on #50
PyPy's new JSON parser - https://morepypy.blogspot.com/2019/10/pypys-new-json-parser.html via @digitronik

[2019-10-09 11:11] kamathe opened #51 "Introduction to GNU binutils"
**Title of the talk**
Introduction to GNU binutils

**Description**
Imagine not having access to a software's source code but still being able to understand how the software is implemented, find vulnerabilities in it, and—better yet—fix the bugs.
All of this in binary form. It sounds like having superpowers, doesn't it?
You too can posses such powers and GNU binutils is a good starting point to un

[2019-10-09 11:16] raukadah commented on #50
Timsort — the fastest sorting algorithm you’ve never heard of - https://skerritt.blog/timsort-the-fastest-sorting-algorithm-youve-never-heard-of/

[2019-10-14 10:22] cshintov opened #52 "A Very basic Python Virtual Machine which executes Python byte code."
In the last meetup, we had a discussion regarding Python bytecode. I hope this talk will help us to bring a little more clarity on this topic.

While learning Python I had done a project creating a toy python-virtual-machine, which takes a Python bytecode and executes it. This virtual machine only does a very small subset of operations compared to the actual implementation. It can do basic arithme

[2019-10-14 15:53] raukadah commented on #50
Cool New Features in Python 3.8 - https://realpython.com/python38-new-features/

[2019-10-15 06:01] bhavin192 commented on #52
@cshintov very interesting talk proposal! are there any prerequisites which one should consider for this talk? Also scheduling your talk for this months meetup, as it will be on 19th October.

[2019-10-15 06:04] bhavin192 commented on #51
This is awesome @kamathe :) Can you please share the time required for this talk? Also, will you be able to deliver this talk on 19th, October?

[2019-10-15 06:42] cshintov commented on #52
Familiarity with python basics, stack data structure, and a high-level understanding of compilers and interpreters will be helpful.

[2019-10-15 08:05] abdulwahid24 opened #53 "Building Serverless Microservices with Zappa"
**Building Serverless Microservices with Zappa**

**Speaker Info**
Abdulwahid Barguzar is a Software Architect and an active contributor in the open-source community. He has developed a deep understanding of architecting software product development through Python web frameworks and JavaScript frameworks. He is passionate about implementing and mastering new technologies. In his free time, he rese

[2019-10-15 13:47] bhavin192 commented on #53
Thank you for the proposal @abdulwahid24. I'm going ahead and scheduling this talk in this month's meetup, which is on 19th.

[2019-10-15 15:09] bhavin192 commented on #30
I'm disabling the Travis builds till we get this solved or use some other tool to test the Markdown files

[2019-10-16 05:03] kamathe commented on #51
Hey @bhavin192 the duration of the talk is 30 minutes, though i won't be able to deliver this talk on 19th Oct due to some prior engagements. I would love to present this in next month's meetup.
Thanks

[2019-10-16 06:43] #19 closed

[2019-10-16 06:43] #44 closed

[2019-10-16 06:43] #45 closed

[2019-10-16 11:17] son-vyas opened #55 "Functional testing using Python"
Functional Testing using Python

**Description**
This talk will walk through What/Why and How aspects of Functional testing. Apart from that, It would also cover the difference between Unit testing and Functional testing.

The talk may take around 15-20 min.

**Prerequisites**
Basics of Python is more than enough

[2019-10-16 11:26] bhavin192 commented on #55
As discussed with @son-vyas offline, this talk has been scheduled in this month's meetup which is on 19th October.

[2019-10-16 16:41] raukadah commented on #50
Sharing Your Labor of Love: PyPI Quick and Dirty  - https://hynek.me/articles/sharing-your-labor-of-love-pypi-quick-and-dirty/

[2019-10-16 18:13] digitronik commented on #50
pytest important features need for dev/test
https://dev.to/martinheinz/pytest-features-that-you-need-in-your-testing-life-25cd

[2019-10-16 19:22] raukadah commented on #50
PSF Q3 newsletter out: https://mailchi.mp/python/python-software-foundation-q3-newsletter

[2019-10-17 11:56] bhavin192 commented on #53
@abdulwahid24 as discussed over email, you will require 30m to cover this session, right?

[2019-10-17 12:02] abdulwahid24 commented on #53
Hi Bhavin,

Yes, I will cover this in 30 minutes.

Thanks,
Abdulwahid Barguzar

On Thu, Oct 17, 2019 at 5:26 PM Bhavin Gandhi <notifications@github.com>
wrote:

[2019-10-18 13:05] sourabhdeshmukh commented on #50
https://medium.com/better-programming/meta-programming-in-python-7fb94c8c7152
by Saurabh Kukade

[2019-10-18 13:15] sourabhdeshmukh commented on #50
https://www.youtube.com/watch?v=r-A78RgMhZU
Closing Keynote Talk - PyCon India, Chennai, October 13, 2019 (Screencast).
In this talk, he live-code a simple stack machine and turned it into an interpreter capable of running Web Assembly.  he then use that to play a game written in Rust.

Code written during the talk can be found at https://gist.github.com/dabeaz/7d8838b54dba5006c58a40fc28da9d5a

If

[2019-10-19 07:46] bhavin192 commented on #53
Thank you for an awesome talk @abdulwahid24. Can you please share link to your slides here?

[2019-10-19 07:47] bhavin192 commented on #55
Hey @son-vyas, can you please share your slides here?

[2019-10-19 07:48] bhavin192 commented on #52
Thank you @cshintov for your talk. Can you please share link to your slides here?

[2019-10-19 09:36] cshintov commented on #52
Thanks for the opportunity to present the talk and to all the attendees.

You can find the slides here:
https://docs.google.com/presentation/d/1f6TF-dVIj3of5uhqFuCvgKJcfYpqpSbk9Cr8gVuAH8M/edit?usp=sharing

[2019-10-19 14:23] abdulwahid24 commented on #53
Thank you @bhavin192, I have updated the slide link under the presentation content section.

[2019-10-20 06:16] akshay196 opened #58 "November 2019 PythonPune Newsletter Collection Box"
Let's use this issue to collect python related news, new package updates and events happening around Pune. We can compile and publish it during November pythonpune meetup.

## How to add news:
Comment on this issue with news link and news topic and also include the source from we got this.

## How to add new package release:
Paste the link of new package release

## How to include events here:
if

[2019-10-20 06:23] akshay196 commented on #58
Thousands of Scientific Papers May be Invalid Due to Misunderstanding Python

Read more:
http://www.blog.pythonlibrary.org/2019/10/13/thousands-of-scientific-papers-may-be-invalid-due-to-misunderstanding-python/

[2019-10-21 07:08] brilliantblu opened #59 "Removing Named Entities for Legal Querying"
**Title of the talk**

Removing Named Entities for Legal Querying

**Description**

It is important and difficult to find a resolved legal case that is similar to your case. In this talk, I will demonstrate the approach that I used to remove named entities from a legal query to improve the legal extraction.

**Duration (including Q&A)**

15-20 mins

**Prerequisites**

Familiarity with Natural Lang

[2019-10-21 15:35] raukadah commented on #59
Thanks for submitting the issue, please attach the slides link.

[2019-10-26 19:39] digitronik commented on #30
https://github.com/digitronik/linkstatus

[2019-10-31 06:59] #30 closed

[2019-11-04 16:15] bhavin192 commented on #52
Hey @cshintov, do you have the code which you showed during talk uploaded somewhere?

[2019-11-04 16:39] cshintov commented on #52
Along with the VM implementation, you can find the sample files I used for the demo and the bytecode inspection script here:
https://github.com/cshintov/py_vm/tree/talk/python-pune

The inspect bytecode script I got from [the structure of pyc files](https://nedbatchelder.com/blog/200804/the_structure_of_pyc_files.html).

[2019-11-05 06:34] #52 closed

[2019-11-05 06:34] #53 closed

[2019-11-05 06:34] #55 closed

[2019-11-05 06:34] #59 closed

[2019-11-07 07:31] rohit-walimbe opened #62 "Machine Learning With Python using Scikit-Learn"
**Title of the talk**
Machine Learning With Python using Scikit-Learn

**Speaker**
Rohit Walimbe ( Data Scientist, PhonePe )

**Description**
The session will cover
1- Overview of Machine Learning using Python
2- Introduction to Scikit-Learn package
3- Discuss the Scikit Learn Capabilities

- Data Preprocessing
- Dimension reduction
- Classification
- Regression
- Clustering
- Model Performance an

[2019-11-08 03:42] celiberate opened #63 "Demystifying Chatbots"
**Title of the talk**
Demystifying Chatbots

**Description**
The session will cover
1. Introduction to Chatbots & Recent Trends
2. Chatbot Internals - What goes behind the scenes
- Intent Classification
- Named Entity Recognition
- Dialogue Tracker
3. Measure accuracy of your chatbot
4. Key Challenges & Considerations
5. Open Source Frameworks for building Chatbots
6. Q&A

**Duration (including Q&

[2019-11-08 04:36] cshintov opened #64 "Text processing using functional programming in Python."
**Title of the talk**
Text processing using functional programming in Python.

**Description**
We, programmers spend much of our time doing text processing, especially in areas like natural language processing. My talk will discuss about how we can do text processing in functional programming style using Python.

**Duration (including Q&A)**
45 - 60 mins

**Prerequisites**
Basic knowledge of Pytho

[2019-11-08 04:59] bhavin192 commented on #63
Hey @celiberate, thank you for the proposal. Will you be able to deliver this talk during this month's meetup which is on 17th? https://www.meetup.com/PythonPune/events/266249968/

[2019-11-08 06:32] celiberate commented on #63
yes..This is for 17th session only.

Thanks,
Shivam

On Fri, Nov 8, 2019, 10:29 AM Bhavin Gandhi <notifications@github.com wrote:

[2019-11-08 16:19] santoshvijapure opened #65 "Friendly Introduction to Machine Learning"
**Title of the talk**
Friendly Introduction to Machine Learning
**Description**
I'll cover the following points

- machine-learning introduction

- Why do we need to learn Machine Learning?

- how ML is different from traditional programming

- What Can ML Do

- Real-world use cases

- AI vs ML vs DL

- a simple overview of the following algorithms :

   1. Classification
   2. Regression
    3. C

[2019-11-09 17:36] bhavin192 commented on #63
This talk has been scheduled here https://www.meetup.com/PythonPune/events/266249968/

See you in the meeup.

[2019-11-09 17:38] bhavin192 commented on #62
This talk has been scheduled here https://www.meetup.com/PythonPune/events/266249968/

Thank you and see you soon!

[2019-11-10 15:36] bhavin192 commented on #65
Hey @santoshvijapure, thank you for the proposal. Will you be able to deliver this talk in this months meetup which is on 17th? https://www.meetup.com/PythonPune/events/266249968/

[2019-11-10 16:29] santoshvijapure commented on #65
yes sure.
it'll be my first meetup talk  : )
Thanx

[2019-11-12 08:52] raukadah commented on #58
Thank you, Guido - https://blog.dropbox.com/topics/company/thank-you--guido

[2019-11-12 08:53] raukadah commented on #58
What it's like to be on the Python steering council - https://snarky.ca/what-its-like-to-be-on-the-python-steering-council/

[2019-11-12 08:54] raukadah commented on #58
Seeking Developers for Paid Contract Improving pip  - http://pyfound.blogspot.com/2019/11/seeking-developers-for-paid-contract.html

[2019-11-12 08:55] raukadah commented on #58
Python developers survey 2019 - https://surveys.jetbrains.com/s3/c10-python-developers-survey-2019

[2019-11-12 08:56] raukadah commented on #58
My Python Development Environment, 2020 Edition - https://jacobian.org/2019/nov/11/python-environment-2020/

[2019-11-12 08:57] raukadah commented on #58
Coverage 5.0 beta 1 is out - https://nedbatchelder.com/blog/201911/coverage_50_beta_1.html

[2019-11-12 09:00] raukadah commented on #58
Partial Python code formatting with Black & PyCharm - https://blog.godatadriven.com/black-formatting-selection

[2019-11-12 09:01] raukadah commented on #58
When to switch to Python 3.8 - https://pythonspeed.com/articles/major-python-release/

[2019-11-12 09:01] raukadah commented on #58
new #Python news site that is kind of a HackerNews clone. Check it out: https://news.python.sc/

[2019-11-12 09:02] raukadah commented on #58
Simple text/ markdown links status checker  - https://github.com/pythonpune/linkstatus

[2019-11-12 15:56] mandarvaze commented on #58
[Orator ORM](https://orator-orm.com/) created by same person who created [poetry](https://poetry.eustace.io/) - needs a new maintainer:

https://twitter.com/mandarvaze/status/1194264258239840267

[2019-11-17 05:44] #58 closed

[2019-11-17 13:07] santoshvijapure commented on #65
for certificate: bit.ly/pyPune

[2019-11-17 15:12] bhavin192 commented on #63
I was really nice talk. Can you please share link to the slides? Also is it fine if we upload the recording of your talk to our YouTube channel with CC-BY-SA 4.0 licence?

[2019-11-17 15:50] bhavin192 commented on #62
@rohit-walimbe thank you for delivering a very useful talk.
- Can you please share link to your slides as well the demo code (if possible to upload somewhere)?
- Is it fine if we upload the recording of your talk to our YouTube channel with CC-BY-SA 4.0 licence?

[2019-11-17 15:59] bhavin192 commented on #50
This was fixed by https://github.com/pythonpune/meetup-talks/pull/57

[2019-11-17 15:59] #50 closed

[2019-11-18 04:44] rohit-walimbe commented on #62
HI Bhavin,

Sure. I can upload the slides. Regarding the talk upload, let me check first. Let me get back to you.

Thanks.

[2019-11-18 09:23] rohit-walimbe commented on #62
Hi Bhavin,

Please feel free to upload the youtube talk.
I will upload slightly modified slides today.

Thanks
Rohit

[2019-11-18 10:21] celiberate commented on #63
yes. Please go ahead. You need the slides?

[2019-11-18 10:38] bhavin192 commented on #63
Yep, will be awesome to have link to the slides, so that we can add them to summary page as well as video description.

[2019-11-18 11:33] rohit-walimbe commented on #62
[ML with scikit-learn_rohit-walimbe.pdf](https://github.com/pythonpune/meetup-talks/files/3858362/ML.with.scikit-learn_rohit-walimbe.pdf)

[scikitlearn_demo_python_pune.ipynb.zip](https://github.com/pythonpune/meetup-talks/files/3858380/scikitlearn_demo_python_pune.ipynb.zip)

[2019-11-18 15:32] celiberate commented on #63
[demystifying-chatbots.pdf](https://github.com/pythonpune/meetup-talks/files/3859344/demystifying-chatbots.pdf)

[2019-11-19 04:13] bhavin192 commented on #65
Hey @santoshvijapure can you please share the slides if possible?

[2019-11-21 05:56] raukadah opened #67 "December 2019 PythonPune Newsletter Collection Box"
Let's use this issue to collect python related news, new package updates and events happening around Pune. We can compile and publish it during November pythonpune meetup.

## How to add news:
Comment on this issue with news link and news topic and also include the source from we got this.

## How to add new package release:
Paste the link of new package release

## How to include events here:
if

[2019-11-21 13:13] raukadah commented on #67
Fastest Way to Load Data Into PostgreSQL Using Python - https://hakibenita.com/fast-load-data-python-postgresql

[2019-11-22 08:48] raukadah commented on #67
PyCon India 2019 videos: https://www.youtube.com/playlist?list=PL6GW05BfqWIfsflQt05LM3FTX6cd7PGps

[2019-11-22 08:49] raukadah commented on #67
"Writing a PEG parser for fun and profit" - Guido van Rossum (North Bay Python 2019) - https://www.youtube.com/watch?v=QppWTvh7_sI&feature=youtu.be

[2019-11-22 16:40] raukadah commented on #67
Python built-ins worth learning : https://treyhunner.com/2019/05/python-builtins-worth-learning/

[2019-11-23 15:22] raukadah commented on #67
The return of Python dictionary "addition" - https://lwn.net/Articles/803189/

[2019-11-24 11:16] digitronik commented on #15
I started one Project which will cover things like
- Plug-able architecture single bot for all things
- GH actions
- Karma
-  Bugzilla events
- etc...

[2019-11-25 06:51] raukadah commented on #67
Programmers are humans too: On the design of notations : https://homepages.cwi.nl/~steven/Talks/2019/11-21-dijkstra/

[2019-11-25 07:28] sourabhdeshmukh commented on #67
http://pythontutor.com/visualize.html#mode=edit
Best step by step explanatory IDE to get visualization of execution of python program.

[2019-11-25 09:31] sourabhdeshmukh commented on #67
https://pythonbytes.fm/
Python Bytes is a weekly podcast hosted by Michael Kennedy and Brian Okken. Python Bytes podcast delivers headlines directly to your earbuds. If you want to stay up on the Python developer news but don't have time to scour reddit, twitter, and other news sources, just subscribe and you'll get the best picks delivered weekly

[2019-11-25 09:33] sourabhdeshmukh commented on #67
https://twistedmatrix.com/trac/
Twisted is an event-driven networking engine written in Python and licensed under the open source ​MIT license. Twisted runs on Python 2 and an ever growing subset also works with Python 3.

[2019-11-26 04:44] raukadah commented on #67
The Mind at Work: Guido van Rossum on how Python makes thinking in code easier - https://blog.dropbox.com/topics/work-culture/-the-mind-at-work--guido-van-rossum-on-how-python-makes-thinking

[2019-11-30 18:28] #63 closed

[2019-11-30 18:28] #65 closed

[2019-11-30 19:02] bhavin192 commented on #62
Fixed by #72

[2019-11-30 19:02] #62 closed

[2019-12-03 08:36] raukadah commented on #67
https://conf.kde.in/ and https://nullcon.net/website/

[2019-12-03 08:37] raukadah commented on #67
Craft Your Python Like Poetry - https://treyhunner.com/2017/07/craft-your-python-like-poetry/

[2019-12-04 07:13] raukadah commented on #67
https://www.paramiko.org/changelog.html#2.7.0

[2019-12-05 15:06] raukadah commented on #67
Refactoring Python Applications for Simplicity https://realpython.com/python-refactoring/#using-rope-for-refactoring

[2019-12-10 04:22] harinjoshi opened #73 "Hands on chatbot developement on Rasa using Zomato API"
**Title of the talk**
Hands on chat-bot developement using Zomato API

**Description**
Co-learning lounge is Hyderabad based AI community which aims at educating students through free workshops.We Successfully conducted events in Mumbai,New Delhi,Hyderabad,Bangalore,Mathura and we would like to conduct one in Pune.
This workshop will cover all aspects of chat-bot right from its evaluation to prese

[2019-12-13 06:21] raukadah commented on #67
Circuit Python at PyConf Hyderabad https://anweshadas.in/circuit-python-at-pyconf-hyd/

[2019-12-15 03:29] raukadah opened #75 "December PythonPune DevSprint Ideas"
## Goal
Let's learn something new today

## What we are going to do today?
Pick any project, build, explore and break it and propose the fix.

## Projects to check out
* Python 3.8.1 rc1 -> https://www.python.org/downloads/release/python-381rc1/
* Linkstatus -> https://github.com/pythonpune/linkstatus
* bot-irc -> https://github.com/pythonpune/bot-irc

## I want to work on new or existing project,

[2019-12-15 06:43] chavarera commented on #75
Project Name: **CInfo (Computer Information)**

Platform: **Linux and windows**

Github link: https://github.com/chavarera/Cinfo/

CInfo Gathers Following Information for Windows and Linux platform and use it for auditing purpose .
[code]
You can contribute anything related to this domain

[2019-12-15 06:44] raukadah commented on #75
https://github.com/GetTogetherComm/GetTogether

[2019-12-15 06:45] Akasurde commented on #75
Ansible EasyFixes - https://github.com/ansible/community/issues/437

[2019-12-15 13:29] #67 closed

[2019-12-15 13:57] digitronik commented on #75
@chavarera can you please ping me on `irc` or `telegram` my nik is `digitronik`

[2019-12-17 12:41] raukadah opened #76 "January 2020 PythonPune Newsletter Collection Box"
Let's use this issue to collect python related news, new package updates and events happening around Pune. We can compile and publish it during November pythonpune meetup.

## How to add news:
Comment on this issue with news link and news topic and also include the source from we got this.

## How to add new package release:
Paste the link of new package release

## How to include events here:
if

[2019-12-17 12:41] raukadah commented on #76
A Tiny Python Exception Oddity  https://aroberge.blogspot.com/2019/12/a-tiny-python-exception-oddity.html?m=1

[2019-12-17 12:50] raukadah commented on #76
https://www.python.org/dev/peps/pep-8101/#results -
PEP 8101 -- 2020 Term steering council election

[2019-12-17 13:13] raukadah commented on #76
What makes Python a great language? https://stevedower.id.au/blog/python-a-great-language/

[2019-12-18 12:21] raukadah commented on #76
Usenix ;login: Python Column - https://www.dabeaz.com/usenix.html

[2019-12-23 08:40] chavarera commented on #76
Google summer of code 2020 program timeline announced
https://summerofcode.withgoogle.com/how-it-works/#timeline

[2019-12-27 05:24] amolkahat commented on #76
Get awesomeness https://docs.openstack.org/tripleo-quickstart/latest/getting-started.html
To retrieve all amazing awesomeness from Github

[2019-12-27 05:35] amolkahat commented on #76
https://free-for.dev/
Developers and Open Source authors now have a massive amount of services offering free tiers, but it can be hard to find them all in order to make informed decisions.

[2019-12-29 01:04] girish946 commented on #76
PyPy 7.3.0 released
The version 7.3.0 of PyPy, includes two different interpreters:

    PyPy2.7, which is an interpreter supporting the syntax and the features of Python 2.7 including the stdlib for CPython 2.7.13
    PyPy3.6: which is an interpreter supporting the syntax and the features of Python 3.6, including the stdlib for CPython 3.6.9.

https://morepypy.blogspot.com/2019/12/pypy-730-releas

[2020-01-06 06:37] raukadah commented on #76
Creator of Python Programming Language, Guido van Rossum | Oxford Union - https://www.youtube.com/watch?v=7kn7NtlV6g0

[2020-01-06 12:17] mayurilahane opened #77 "[Dev Sprint] Genpass - Command Line Password manager tool."
**Title: [Dev Sprint] Genpass -  Command Line Password manager tool.**

**Description**
- https://github.com/paint-it/genpass
- This tool used to create a new password(using diceware API) and to save the existing passwords.
- Advanced features like security of tool, password encryption, etc. will be introduced in the next releases.
- Now we have the first release(v0.0.1). It supports saving the ex

[2020-01-19 05:21] raukadah commented on #76
Python 3.7 Development Mode - https://vstinner.github.io/python37-dev-mode.html

[2020-01-20 14:23] bhavin192 commented on #41
Hey @lucky31044 will you able to deliver this during this month's meetup which is on 25th January?
https://www.meetup.com/PythonPune/events/268010380/

[2020-01-20 14:24] bhavin192 commented on #51
Hey @kamathe will you able to deliver this during this month's meetup which is on 25th January?
https://www.meetup.com/PythonPune/events/268010380/

[2020-01-20 14:29] bhavin192 commented on #73
Hello @harinjoshi! that is indeed an exciting proposal! First of all sorry for a really delayed response. Will you be able to deliver this in next month? Can you please reach out over punepython at gmail dot com, so that we can discuss it further.

[2020-01-20 14:58] harinjoshi commented on #73
Yes,sure @bhavin192. Is mail id punepython@gmail.com?

[2020-01-20 16:08] bhavin192 commented on #73
Yes, that's correct.

[2020-01-22 06:43] kamathe commented on #51
Hello @bhavin192, yes i will be able to present this talk on 25th this month
Please schedule a 30 minute slot for me, thank you

[2020-01-22 07:10] bhavin192 commented on #77
@mayurilahane thank you for submitting a detailed proposal! This has been scheduled in this month's meetup (Talk + devsprint)

[2020-01-22 10:33] bhavin192 commented on #51
Thank you, this talk has been scheduled. https://www.meetup.com/PythonPune/events/268010380/
Please share link to your slides and or code repository if any. You can share those once you create those.

[2020-01-24 12:22] Dunsy commented on #47
Articles from [securing home](https://securinghome.com/) blog are extremely helpful if you're interested in security, moreover, they gather different statistics on various safety matters. That might be helpful as well.

[2020-01-25 03:21] raukadah commented on #76
Mercurial's Journey to and Reflections on Python 3 - https://gregoryszorc.com/blog/2020/01/13/mercurial%27s-journey-to-and-reflections-on-python-3/

[2020-01-25 03:22] raukadah commented on #76
Start using 2FA and API tokens on PyPI  - http://pyfound.blogspot.com/2020/01/start-using-2fa-and-api-tokens-on-pypi.html

[2020-01-25 03:24] raukadah commented on #76
A Book about Pythonic Application Architecture Patterns for Managing Complexity - https://github.com/cosmicpython/book#table-of-contents

[2020-01-25 03:33] raukadah commented on #76
Better Python Object Serialization - https://hynek.me/articles/serialization/

[2020-01-25 03:42] raukadah commented on #76
I'm not feeling the async pressure - https://lucumr.pocoo.org/2020/1/1/async-pressure/

[2020-01-28 15:36] raukadah opened #79 "February 2020 PythonPune Newsletter Collection Box"
Let's use this issue to collect python related news, new package updates and events happening around Pune. We can compile and publish it during February pythonpune meetup.

## How to add news:
Comment on this issue with news link and news topic and also include the source from we got this.

## How to add new package release:
Paste the link of new package release

## How to include events here:
if

[2020-01-28 15:37] raukadah commented on #77
@mayurilahane Please share the slides link.

[2020-01-28 15:38] raukadah commented on #51
@kamathe Thank you for delivering the talk, Please add the blog link so that we can include in the meetup report.

[2020-01-28 15:40] digitronik commented on #76
publish
https://github.com/pythonpune/meetup-talks/pull/78

[2020-01-28 15:40] #76 closed

[2020-01-28 16:00] raukadah commented on #79
https://realpython.com/python-boto3-aws-s3/ - Python, Boto3, and AWS S3: Demystified

[2020-01-28 16:29] raukadah commented on #79
python 3.9 compatibility changes - https://tirkarthi.github.io/programming/2020/01/27/python-39-changes.html

[2020-01-28 17:29] mayurilahane commented on #77
Thanks **Python Pune team** for the support and this opportunity!
here is the link for slides - https://gist.github.com/mayurilahane/31f0c97a5875c44f73f62010a8be43d2

[2020-01-28 17:45] raukadah commented on #79
https://github.com/asottile/pyupgrade -
A tool (and pre-commit hook) to automatically upgrade syntax for newer versions of the language.

[2020-01-29 15:35] Rohitkanyal commented on #51
Hey, Sir I am Interested in Cyber security, just check your Post
I am Impressed by you Presentation, So Much Fascinating Work on Finding loop-hole in system.
for Just Sake of Interest
I want to know how to get Netflix password if it is possible  !!!!!

[2020-01-29 17:07] raukadah commented on #79
https://github.com/rednafi/py-sanity -
Opinionated coding guidelines and best practices in Python

[2020-01-29 17:38] raukadah commented on #79
Anthony Shaw - Wily Python: Writing simpler and more maintainable Python - PyCon 2019 - https://www.youtube.com/watch?v=dqdsNoApJ80

[2020-01-30 17:02] raukadah commented on #79
https://pythonspeed.com/articles/alpine-docker-python/ - Alpine makes Python Docker builds 50× slower, and images 2× larger

[2020-02-02 07:48] harinjoshi commented on #73
Can I get on call with any of python pune person??

[2020-02-02 08:27] bhavin192 commented on #73
Please add your contact details to the same email thread we have.

Also, this workshop is scheduled as this month's meetup.

As discussed over email, the workshop will start around 10:00, 10:30. We have set the time as 9:00 to make sure everyone has the required setup on their machine.

[2020-02-03 09:03] raukadah commented on #79
Reducing Startup Time of Python Applications - https://engineering.algoshelf.com/python-startup-time/

[2020-02-03 10:22] Pradhvan commented on #79
Django async view support - https://forum.djangoproject.com/t/async-performance/310/6

Announcement tweet by Andrew Godwin - https://twitter.com/andrewgodwin/status/1222214836043468800

[2020-02-03 16:43] raukadah commented on #79
The Mental Game of Python - Raymond Hettinger - https://www.youtube.com/watch?v=UANN2Eu6ZnM

[2020-02-05 08:32] raukadah commented on #79
View and control unix terminals from your browser https://cs01.github.io/termpair/

[2020-02-05 18:31] Pradhvan commented on #79
[The 22 Most-Used Python Packages in the World](https://medium.com/better-programming/the-22-most-used-python-packages-in-the-world-7020a904b2e)

[2020-02-06 07:38] Pradhvan commented on #79
[Growing Old Gracefully as a Programmer](https://djangochat.com/episodes/growing-old-gracefully-as-a-programmer) ~ 30.32 min

[2020-02-06 15:27] raukadah commented on #79
How key Python projects are maintained- https://opensource.com/article/20/2/python-maintained

[2020-02-09 02:16] DilipThosarGithub commented on #73
"Everyone will be provided with setup instructions a day before workshop."
Awaiting...

[2020-02-09 03:25] bhavin192 commented on #73
Hey @DilipThosarGithub, did you register on the Google forms link given in the meetup event?

[2020-02-09 16:20] #79 closed

[2020-02-09 17:14] digitronik opened #81 "March 2020 PythonPune Newsletter Collection Box"
Let's use this issue to collect python related news, new package updates and events happening around Pune. We can compile and publish it during **March PythonPune** meetup.

## How to add news:
Comment on this issue with news link and news topic and also include the source from we got this.

## How to add new package release:
Paste the link of new package release

## How to include events here:
If

[2020-02-10 08:53] raukadah commented on #81
sys.getsizeof is not what you want - https://nedbatchelder.com/blog/202002/sysgetsizeof_is_not_what_you_want.html

[2020-02-10 08:53] raukadah commented on #81
Contributing to CPython - https://paper.dropbox.com/doc/Contributing-to-CPython-JlgnduI6kw9MJIaGPpN9G

[2020-02-10 08:54] raukadah commented on #81
Ever had a cool idea for an Open Source project but didn't have the time to implement it yourself? Let someone else give it a try! https://open-source-ideas.github.io/

[2020-02-10 09:11] aprajshekhar opened #82 "Design Patterns and Python: Creational Patterns"
**Title of the talk**
Design Patterns and Python: Creational Patterns

**Description**
Design patterns help in developing robust, and maintainable applications. My talk discusses the following two main creational patterns and how to implement them in Python:

- Singleton
- Factory

**Duration (including Q&A)**
45 mins to 1 hour

**Prerequisites**
Basic knowledge of python

Note: It would be great

[2020-02-11 19:40] Pradhvan commented on #81
Your Guide to the CPython Source Code: https://realpython.com/cpython-source-code-guide/

[2020-02-11 19:47] girish946 commented on #81
Applying mypy to real world projects: http://calpaterson.com/mypy-hints.html

[2020-02-12 15:52] raukadah commented on #81
Cheating in Kaggle Contests (A Post-Mortem) - https://www.kaggle.com/bminixhofer/how-bestpetting-cheated

[2020-02-12 16:05] raukadah commented on #81
OSCON 2019 - Care and Feeding of a Healthy Job Hunt - https://archive.org/details/oscon2019-jobhunt

[2020-02-17 07:18] raukadah commented on #81
Git Command Explorer - https://gitexplorer.com/

[2020-02-17 07:20] raukadah commented on #81
https://pypi.org/project/Automat/20.2.0/ - Self-service finite-state machines for the programmer on the go.

[2020-02-17 07:21] raukadah commented on #81
About Python Package Metadata - https://hynek.micro.blog/2020/02/14/about-python-package.html

[2020-02-17 10:13] raukadah commented on #81
Modularity for Maintenance - https://glyph.twistedmatrix.com/2020/02/modules-for-maintenance.html

[2020-02-19 04:31] chavarera commented on #81
Visualising Data Structures and algorithms through animations
https://visualgo.net/en

[2020-02-22 15:30] kamathe commented on #51
@raukadah

https://opensource.com/article/19/10/gnu-binutils

[2020-03-06 09:28] Pradhvan commented on #81
PEP 614 -- Relaxing Grammar Restrictions On Decorators - https://www.python.org/dev/peps/pep-0614/

[2020-03-07 07:06] bhavin192 commented on #82
Hello @aprajshekhar thank you for proposing this talk, it's indeed an interesting topic. Will you be able to deliver this on 21st March? Meetup will be happening either near Magarpatta or virtually (using Jitsi Meet) or both.

[2020-03-07 18:45] bhavin192 commented on #73
Hello @harinjoshi can you please share link to the slides as well?

[2020-03-08 07:11] #51 closed

[2020-03-08 07:11] #75 closed

[2020-03-08 07:11] #77 closed

[2020-03-08 07:11] #73 closed

[2020-03-11 12:34] aprajshekhar commented on #82
@bhavin192 sorry for the late reply. Yes 21st will be perfect.

[2020-03-12 11:25] vipin3699 opened #86 "Using Pipeline scripts in Jenkins"
#### Title of the talk
Automation with Jenkins

#### Description
This talk is about, What is Jenkins and how we can use it to automate different tests with different scenarios using Jenkins pipeline.

#### Duration (including Q&A)
30-45 minutes

#### Checklist

The talk/workshop speaker agrees to,
- [x ] Share the slides, code snippets and other material used during the talk
- [x ] If the talk is

[2020-03-16 08:41] amitkumar50 opened #87 "Time Complexity: Comparing C++(vector) and Python(list)"
#### Title of the talk
Comparing C++(vector) and Python(list)

#### Description
Finding Lucky number using:
1. C++(vector)
2. Python(list)
Calculating the runtime for both algos.

What is lucky number?
Lucky number?A element of matrix such that it is minimum element in its row and maximum in its column.

Input: matrix = [[3,7,8],[9,11,13],[15,16,17]]
Output: [15]
Explanation: 15 is the only lucky

[2020-03-16 14:45] bhavin192 commented on #82
No worries. This talk has been scheduled in this month's meetup. https://www.meetup.com/PythonPune/events/269419831/

[2020-03-16 14:46] bhavin192 commented on #86
This talk has been scheduled in this month's meetup. https://www.meetup.com/PythonPune/events/269419831/

[2020-03-21 03:45] raukadah commented on #81
Layoffs are Coming -  https://jacobian.org/2020/mar/13/layoffs-are-coming/

[2020-03-21 03:48] raukadah commented on #81
Click 7.1 Released - https://palletsprojects.com/blog/click-7-1-released/

[2020-03-21 03:48] raukadah commented on #81
Python in GitHub Actions - https://hynek.me/articles/python-github-actions/

[2020-03-21 03:54] raukadah commented on #81
Python in Production - https://hynek.me/articles/python-in-production/

[2020-03-21 04:08] raukadah commented on #81
Virtual Ansible Contributor Summit + Hackathon - Sunday, March 29, 2020! - https://groups.google.com/forum/#!topic/ansible-outreach/iYFoB9g3cSE

[2020-03-21 09:36] Pradhvan commented on #81
Closes #88

[2020-03-21 09:55] bhavin192 commented on #81
Closing this as #88 is merged now.

[2020-03-21 09:55] #81 closed

[2020-03-24 07:10] raukadah opened #90 "Apr 2020 PythonPune Newsletter Collection Box"
Let's use this issue to collect python related news, new package updates and events happening around Pune. We can compile and publish it during **April PythonPune** meetup.

## How to add news:
Comment on this issue with news link and news topic and also include the source from we got this.

## How to add new package release:
Paste the link of new package release

## How to include events here:
If

[2020-03-24 07:11] raukadah commented on #90
New pip resolver to roll out this year  - http://pyfound.blogspot.com/2020/03/new-pip-resolver-to-roll-out-this-year.html

[2020-03-27 13:20] raukadah commented on #90
How long did it take you to learn Python? - https://nedbatchelder.com/blog/202003/how_long_did_it_take_you_to_learn_python.html

[2020-03-31 12:03] raukadah commented on #90
EuroPython 2020: Online conference from July 23-26 - https://blog.europython.eu/post/614102095419850752/europython-2020-online-conference-from-july-23-26

[2020-04-01 05:39] raukadah commented on #90
What the heck is pyproject.toml? - https://snarky.ca/what-the-heck-is-pyproject-toml/

[2020-04-01 07:55] Pradhvan commented on #90
@raukadah can we add a line below this

stating whoever submits an article can submit a tl;dr version(one or two-line summary) just below their submitted article so that it's easy for the presenter of the newsletter at the meetup

[2020-04-08 17:52] bhavin192 commented on #87
Hey @amitkumar50 thank you for submitting an interesting proposal! Will you be able to deliver this during this month's meetup which is on 18th April (Saturday). It will be an online event.

[2020-04-08 17:57] bhavin192 commented on #47
@akshaywifi2 First of all, sorry for a very long silence from our side! Will you be able to deliver this talk remotely on 18th April during this month's meetup? It's going to be an online event where you can share your screen and camera.

[2020-04-10 19:50] amitkumar50 commented on #87
@bhavin192 Sure I can deliver what will be time of talk and duration?

[2020-04-10 19:53] amitkumar50 opened #91 "Deep Learning with Python(Part-1)"
#### Title of the talk
Deep Learning with Python(Part-1)

#### Description
What is Artificial Intelligence, Machine Learning, Deep Learning?
Usage of AI?
Neural Networks?
Machine Learning Algorithms?
Implementing MI model using keras
Using imdb dataset

#### Duration (including Q&A)
45 min

#### Prerequisites

#### Checklist

The talk/workshop speaker agrees to,
- [x] Share the slides, code snippe

[2020-04-11 06:59] answerquest commented on #90
Automating GIS-processes by University of Helsinki, Finland
https://automating-gis-processes.github.io/site/index.html
Nice linear set of lessons complete with workable data and code on python + GIS.
They also have another course for Python beginners: https://geo-python.github.io/site/

[2020-04-14 03:55] bhavin192 commented on #87
We will be starting around 10:30AM on 18th April. Duration for your talk will be 45 minutes (according to your proposal).

[2020-04-14 09:18] bhavin192 commented on #87
@amitkumar50 sorry for a last minute change, the date has been finalized as 26th April, Sunday. Hope that works for you!

[2020-04-17 08:09] darunesh-RH opened #92 "Command execution through python/object/apply constructor in FullLoader in PyYaml"
#### Title of the talk
Exploiting and understanding CVE-2019-20477.

#### Description
PyYAML 5.1 through 5.1.2 has insufficient restrictions on the load and load_all functions because of a class deserialization issue, e.g., Popen is a class in the subprocess module. NOTE: this issue exists because of an incomplete fix for CVE-2017-18342.

Reference:
https://nvd.nist.gov/vuln/detail/CVE-2019-20477

[2020-04-18 11:06] bhavin192 commented on #82
Hello @aprajshekhar can you please share link to your slides so that I can include that in the event summary. Also we look forward to your future talks :smile:

[2020-04-19 16:15] #82 closed

[2020-04-19 16:15] #86 closed

[2020-04-20 03:17] aprajshekhar commented on #82
Hi @bhavin192 following is the link to the slides:
https://docs.google.com/presentation/d/1ThuWxvc93gaJg1060dB6p83-gMpz4aCR_Mi5REHa9MI/edit?usp=sharing

Thanks and looking forward to giving talks in the future :)

[2020-04-20 03:29] amitkumar50 commented on #87
@bhavin192 Sure no problem I am good with 26th april

[2020-04-20 03:43] amitkumar50 commented on #87
@bhavin192 And Thank you very Much for considering my talk I am obliged. I will send the slides maybe by Thursday for your review

[2020-04-21 06:11] bhavin192 commented on #90
Post about the streaming setup we use during our meetup,
https://geeksocket.in/posts/live-stream-meetup-event/

TL;DR: We use Jitsi Meet to host a meeting between two folks from the organizers and one presenter. This meeting is then live streamed to YouTube using Jitsi Meet itself or using OBS Studio. This post takes you through all the details of the setup.

[2020-04-21 06:13] bhavin192 commented on #87
It's our pleasure to have you @amitkumar50, our aim is to create a platform for all the Pythonistas around (but not limited to) Pune. Would love to review the slides as well. This talk has been scheduled here, https://www.meetup.com/PythonPune/events/270019437/

[2020-04-21 06:14] bhavin192 commented on #92
Hello @darunesh-RH, this is indeed an unique and interesting talk. This has been scheduled here, https://www.meetup.com/PythonPune/events/270019437/ .

[2020-04-25 08:21] amitkumar50 commented on #87
Apologies for delay!
presentation.
[vector-vs-lists.pptx](https://github.com/pythonpune/meetup-talks/files/4532614/vector-vs-lists.pptx)

[2020-04-25 19:05] iayanpahwa opened #94 "Programming Microcontrollers using CircuitPython"
#### Title of the talk
Programming Microcontrollers using CircuitPython

#### Description
Programming microcontrollers can be intimidating for beginners, especially when it includes setting up toolchain including cross-compilers, assemblers to flashing the code using special techniques and not to mention the bit twiddling it needs at register level to perform any function. As IoT becomes more main

[2020-04-26 04:23] raukadah commented on #90
Python: Myths about Indentation - https://web.archive.org/web/20070922223915/http://www.secnetix.de/~olli/Python/block_indentation.hawk
TLDR: It talks about how python identifies between tabs and spaces, and parses it and what is the significance of it.

[2020-04-26 04:28] raukadah commented on #90
Testing Brython apps using PyTest and Selenium http://jonathan.temno.eu/blog/testing_brython_selenium.html
TLDR: Brpython is a A Python 3 implementation for client-side web programming, designed to replace JavaScript and use python3 syntax in type of text/python. How selenium is used for testing the same.

[2020-04-26 04:34] raukadah commented on #90
The Composition Over Inheritance Principle https://python-patterns.guide/gang-of-four/composition-over-inheritance/
TLDR: By using logging module, how composition is followed over Inheritance Principle while designing class.

[2020-04-26 04:35] raukadah commented on #90
[Python-Dev] [RELEASE] Python 2.7.18, the end of an era - https://mail.python.org/archives/list/python-dev@python.org/message/OFCIETIXLX34X7FVK5B5WPZH22HXV342/
TLDR: it is the last release of Python-2.7

[2020-04-26 04:37] raukadah commented on #90
Python's AsyncIO series by Łukasz Langa:
* Learn Python's AsyncIO #1 - https://www.youtube.com/watch?v=Xbl7XjFYsN4
* Learn Python's AsyncIO #2 - https://www.youtube.com/watch?v=E7Yn5biBZ58

[2020-04-26 04:38] raukadah commented on #90
Ansible 101 by Jeff Geerling - YouTube streaming series - https://www.jeffgeerling.com/blog/2020/ansible-101-jeff-geerling-youtube-streaming-series

[2020-04-26 04:47] raukadah commented on #90
US PyCon 2020 went virtual. Here is the videos: https://www.youtube.com/channel/UCMjMBMGt0WJQLeluw6qNJuA

[2020-04-26 04:47] raukadah commented on #90
CFP for PyCon India 2020 is open now: https://in.pycon.org/cfp/2020/proposals/

[2020-05-07 09:14] bhavin192 commented on #94
Hey @iayanpahwa it's  a really cool talk proposal. This month we are collaborating with other meetup groups from Pune and organizing OSCONF Pune 2020. We would love to see your talk there, can you please create a talk proposal here: https://www.papercall.io/osconf2020

If things don't go as expected we will schedule your talk in next month's PythonPune meetup :smile:

[2020-05-07 12:56] iayanpahwa commented on #94
@bhavin192 sure thing 🤓

[2020-05-07 17:29] bhavin192 commented on #94
@iayanpahwa yeah, you are right. Let's try our luck and still submit?

[2020-05-23 04:35] bhavin192 commented on #94
Hello @iayanpahwa we are planning to have a meetup this month on 30th May. Will you be able to deliver this talk on that day?

[2020-05-26 11:51] Yadnyawalkya opened #96 "[Talk Proposal] Common Vulnerabilities and Exposures (CVE) and Vulnerability databases"
#### Title of the talk
Common Vulnerabilities and Exposures (CVE) and Vulnerability databases

#### Why this talk?
PythonPune had great talks on security lately. Good to see people are showing interest in this area. We listen to vulnerability, CVE like catchwords all day without knowing what those are all about. This talk is a little effort for this awareness.

#### Description
Businesses of all s

[2020-05-26 12:40] Yadnyawalkya opened #97 "[Proposal] Presenter should specify talk category in talk proposal"
#### Suggestion
- Presenter should choose appropriate talk category suitable for talk. Not more than 3 categories, if presenter do not find relevant category, we can keep it under "others".
**Action item if the proposal is accepted** -  Add instructions into [issue template](https://github.com/pythonpune/meetup-talks/blob/master/.github/ISSUE_TEMPLATE/propose-a-talk.md) and specify example categor

[2020-05-26 13:02] bhavin192 commented on #97
Yes, you are right. We have a task of creating site here https://pythonpune.in . Plan is to have the meetup summary and newletter there as posts.

It will be good if we ask for the category. My intention was to keep things minimum so that it's less friction for submitting a new talk. One thing we can do is, have fixed set of categories and add those while creating the summaries of past meetups, wh

[2020-05-26 15:06] Yadnyawalkya commented on #97
Ack on upcoming task. Yeah, tagging it while creating summaries also make sense. Closing this issue in favor of that.

Putting everyone FYI. @raukadah @digitronik @vishal-vvr @akshay196

[2020-05-26 15:06] #97 closed

[2020-05-27 13:05] iayanpahwa commented on #94
Hey @bhavin192 sorry for late reply, let’s try for the next meetup, the one after 30th

[2020-05-29 07:22] raukadah opened #98 "May 2020 PythonPune Newsletter Collection Box"
Let's use this issue to collect python related news, new package updates and events happening around Pune. We can compile and publish it during **May PythonPune** meetup.

## How to add news:
Comment on this issue with news link and news topic and also include the source from we got this.

## How to add new package release:
Paste the link of new package release

## How to include events here:
If a

[2020-05-29 07:26] raukadah commented on #98
Calling all Pythonistas in the world, Call for Proposals for PyCon India 2020 is now open! https://in.pycon.org/blog/2020/2020-call-for-proposals-announcement.html
Notes:
* CFP last date is 14th August 2020
* You can submit the talks here: https://in.pycon.org/cfp/2020/proposals/
* Have queries ping on https://pyconindia.zulipchat.com/

[2020-05-29 07:27] raukadah commented on #98
https://pypistats.org/ - Analytics for PyPI packages
Notes:
* You can find your python package download stats.

[2020-05-29 07:34] raukadah commented on #98
Test pip’s alpha resolver and help us document dependency conflicts -
http://www.ei8fdb.org/thoughts/2020/05/test-pips-alpha-resolver-and-help-us-document-dependency-conflicts/

Notes:
* Needs feedback on the work on improving the way that pip resolves package dependency conflicts
* If your's project having 10 package dependencies, packages pinned to specific version then try out
* Install pip ins

[2020-05-29 07:44] raukadah commented on #98
Project Twint: https://github.com/twintproject/twint
Notes:
* An advanced Twitter scraping tool which does not uses twitter API
* Install it via pip3 install twint in a virtualenv
* To get all tweets of a user, Run twint -u <twiteer username>

[2020-05-29 17:13] Pradhvan commented on #98
The _practical Python course_ from David Beazley is released under a Creative Commons license.
https://dabeaz-course.github.io/practical-python/

Note:
* Students of this course are usually professional scientists, engineers, and programmers who already have experience in at least one other programming language.
* The course includes the completion of approximately 130 hands-on coding exercises.

[2020-05-29 18:53] #98 closed

[2020-05-29 18:55] bhavin192 commented on #96
This is going to be interesting and new information! Excited for this. This talk has been scheduled https://www.meetup.com/PythonPune/events/270883519/.

[2020-05-29 18:56] bhavin192 commented on #46
This talk has been scheduled https://www.meetup.com/PythonPune/events/270883519/.

[2020-05-29 20:03] raukadah commented on #98
https://www.jetbrains.com/lp/python-developers-survey-2019/
Jet Brain's survey. Every year they conduct this survey. This survey is based on the Python and it's toolchanin. It's representation is in the graphs. And they conducted survey with most interesting topics.
- Python as main vs secondary language
- For what purpose mainly do you use python?
- Which python versions you use most? and etc.

[2020-05-29 20:03] raukadah commented on #98
https://lwn.net/Articles/819853/

This article desribe about the Python3.9 PEPs. What peps are proposed or new changes coming in to Python 3.9. It include some examples of the String manipulation, new parser etc.

[2020-05-30 05:19] raukadah commented on #98
https://kushaldas.in/posts/single-file-implementation-of-pep582.html
Notes:
* To help beginners in writing Python effectively without going through complexity of virtual envs.
* python3 pep582.py --install
* Make __pypackages__ directory
* python3 -m pip install attrs
* Open python3 prompt and import attrs

https://opensource.com/article/20/5/pycon-covid-19
* Thanks to Python community, US PyCon 2

[2020-05-30 05:37] raukadah commented on #98
New releases:
* https://github.com/pypa/pipenv/releases/tag/v2020.5.28
* Python 3.9.0b1 is now available for testing https://blog.python.org/2020/05/python-390b1-is-now-available-for.html

*New Projects to try:
https://github.com/dry-python/returns

[2020-05-30 05:47] thombrem opened #100 "Introduction to NLP with the BERT Algorithm"
#### Title of the talk

#### Description

#### Duration (including Q&A)

#### Prerequisites

#### Checklist

The talk/workshop speaker agrees to,
- [ ] Share the slides, code snippets and other material used during the talk
- [ ] If the talk is recorded, you grant the permission to release the video on [PythonPune's YouTube channel](https://www.youtube.com/channel/UCWjk7oGWV9eknuOzC20dyiQ) under [

[2020-05-30 06:14] Yadnyawalkya commented on #96
#### We got few interesting questions during talk

"zero-day" referred to number of days maintainer have to fix certain vulnerability, and actually there are none. Once the vendors knows zero-days vulnerability, they usually create patches or advise workarounds to mitigate issues. Zero-days vulnerabilities generally gets very expensive payouts since vulnerabilities are unknown. Zerodium, acquisiti

[2020-05-30 07:01] raukadah opened #101 "June 2020 PythonPune Newsletter Collection Box"
Let's use this issue to collect python related news, new package updates and events happening around Pune. We can compile and publish it during **June PythonPune** meetup.

## How to add news:
Comment on this issue with news link and news topic and also include the source from we got this.

## How to add new package release:
Paste the link of new package release

## How to include events here:
If

[2020-05-30 17:08] girish946 commented on #46
You can find the slides at <https://girishjoshi.io/presentations/Things-that-can-be-done-to-make-your-pet-project-better/>

[2020-06-03 14:06] girish946 commented on #101
Project: snakeware -  <https://github.com/joshiemoore/snakeware>

snakeware is a free Linux distro with a Python userspace inspired by the Commodore 64. You are booted directly into a Python interpreter, which you can use to do whatever you want with your computer.

[2020-06-04 03:06] answerquest commented on #101
Found a useful function to flatten nested dicts from real-world jsons with multiple depths and arrays mixed in:
https://github.com/ScriptSmith/socialreaper/blob/master/socialreaper/tools.py#L8

Cross-posted here: https://stackoverflow.com/a/62186053/4355695

[2020-06-16 18:50] amolkahat commented on #101
Curl Cookbook: https://catonmat.net/cookbooks/curl

[2020-06-19 10:05] bhavin192 commented on #94
Hey @iayanpahwa will you be able to deliver this talk in this month's meetup? It's going to be scheduled on 28th of this month.

[2020-06-20 11:25] Ankit-rana opened #102 "Building Extensible Packages with Python"
#### Title of the talk
Coding Extensible Python Packages with Factory method Pattern and Entry Points

#### Description
Well you already know how to code a beginner project in Django or Flask But you wants to learn some skills used in Big Projects like openstack
Here we will go through
1. Factory method pattern
2. abc metaclass's abstractmethod
3. Dynamic Imports
4. Entry points

#### Duration (in

[2020-06-20 12:59] digitronik commented on #90
https://github.com/pythonpune/meetup-talks/pull/95

[2020-06-20 12:59] #90 closed

[2020-06-21 12:59] Akasurde opened #103 "Introduction to Ansible Collection: Future of Ansible content"
#### Title of the talk
Introduction to Ansible Collection: Future of Ansible content

#### Description
This talk is related to Ansible collection. Ansible collection is a new feature introduced in Ansible 2.10. Collection simplifies the content delivery and management. This talk focuses introduction to Ansible Collection from scratch.

You need to have general working knowledge related to Ansible

[2020-06-21 13:27] bhavin192 commented on #102
Hello @Ankit-rana liked your proposal, will you be able to deliver this talk during this month's meetup which is going to be schedule on 28th June.

[2020-06-21 13:28] bhavin192 commented on #103
As discussed, going to schedule this talk in this month's meetup.

[2020-06-21 18:40] Ankit-rana commented on #102
Hi @bhavin192,
I have slides but I still have to complete the code for this but 28th June should be enough for that.
Thanks

[2020-06-23 18:03] Pradhvan commented on #101
Pattern Matching, Draft for PEP: 622  https://github.com/gvanrossum/patma

A match statement takes an expression and compares it to successive patterns given as one or more case blocks.

**tl;dr** `match` statement which is similar to `switch` statements might be added to Python if **PEP 622** is accepted.

[code]

[2020-06-24 05:10] bhavin192 commented on #102
This talk has been scheduled in this month's meetup, https://www.meetup.com/PythonPune/events/271412377/
Please share the code repository and slides here once you are done (before or after the talk).

[2020-06-24 05:11] bhavin192 commented on #103
This talk has been scheduled in this month's meetup, https://www.meetup.com/PythonPune/events/271412377/
Please share the code repository and or slides here once you are done (before or after the talk).

[2020-06-27 17:16] bhavin192 commented on #96
@Yadnyawalkya Thank you for answering common questions here :D Can you also share your slides?

[2020-06-27 18:38] bhavin192 commented on #92
Hey @darunesh-RH can you please share your slides?

[2020-06-27 19:18] raukadah commented on #101
PyLadies India embarked its journey - https://anweshadas.in/pyladies-india-embarked-its-journey/
tldr:
* first unified meetup
* Anwesha shared her journey with PyLadies India
* Marriata had given a nice workshop on creating a github bot

https://nedbatchelder.com/blog/202006/pickles_nine_flaws.html
Pickle’s nine flaws
tldr:
* pickle - serialize and de-serialize objects
* Not to use pickle due to t

[2020-06-27 19:18] raukadah commented on #101
https://pyfound.blogspot.com/2020/06/2020-python-software-foundation-board_26.html
2020 Python Software Foundation Board of Directors Election Retrospective and Next Steps
tldr:
* Full results and participation & representation
* Further steps to improve the demographics of our members and voters

[2020-06-27 19:18] raukadah commented on #101
https://myst-parser.readthedocs.io/en/latest/index.html
MyST - Markedly Structured Text
tldr:
* A fully-functional markdown flavor and parser for Sphinx just like rst for readthedocs
* CommonMark markdown (such as Jupyter Notebook markdown) is natively supported by the MyST parser.

 https://docs.readthedocs.io/en/latest/guides/autobuild-docs-for-pull-requests.html
Autobuild Documentation for Pull

[2020-06-27 19:18] raukadah commented on #101
https://quansight.github.io/ndindex/slices.html
* Slices
tldr:
* slicing is too confusting, let's read it and make it clear
* Where we are confused while using it and how to fix that

[2020-06-27 19:19] raukadah commented on #101
https://snarky.ca/what-is-the-core-of-the-python-programming-language/
What is the core of the Python programming language?
tldr:
* A question started with usage of python with webassembly?
* Does a python needs REPL?
* How much compatibility is necessary to be useful with existing softwares

[2020-06-27 19:19] raukadah commented on #101
New projects to try:
* https://github.com/xxh/xxh -> Bring your favorite shell wherever you go through the ssh
* https://github.com/adamian98/pulse -> Self-Supervised Photo Upsampling via Latent Space Exploration of Generative Models
* https://pypi.org/project/plot-coverage/ -> Python package to generate plots from coverage report

[2020-06-27 19:19] raukadah commented on #101
https://foss.training/
DGPLUG SUMMER TRAINING starting on 30th Jun at 13:30 UTC

[2020-06-28 14:11] Pradhvan commented on #101
@raukadah I think we should close this now as #104 is merged.  😄

[2020-06-29 03:02] Yadnyawalkya commented on #96
@bhavin192  Sure. Here we go https://www.slideshare.net/yadnayawalkyatale/life-of-a-cve.

[2020-07-05 13:19] raukadah opened #105 "Announce July PythonPune meetup 2020"
It contains the collections of tasks needs to be done in order to have a proper outreach and execution:

- [ ] Announce the meetup call for papers on following posts:
  - [ ] Facebook
  - [ ] Twitter
  - [ ] Linkedin
  - [ ] Google groups
  - [ ] Meetup

 - [ ] Once we got the CFP, announce the talks early and engage with audiences

[2020-07-10 11:44] adtandale opened #106 "Effective and efficient use of pytest framework."
#### Title of the talk
Effective and efficient use of pytest framework.

#### Description

Attendees will get to know that how software engineers can make their life easy using pytest.

Following topics will be covered:
#########################
What is Framework.
Why pytest.
Prerequisites for pytest.
Execution of code using pytest
Some useful tricks in pytest
Different Useful pytest plugins.
Exte

[2020-07-13 07:03] riya-17 opened #107 "Distributed system analysis made easy with PBench"
#### Title of the talk
Distributed system analysis made easy with PBench

#### Description
In the current age where Performance Engineers often find themselves building distributed system solutions to  run and publish benchmark numbers, the main issue that rises is in data collection for generating the same. The incomplete or inconsistent data collected make it difficult to compare data sets effec

[2020-07-14 00:43] devendralaulkar opened #108 "Behavior-driven development in Python/Django"
#### Title of the talk
Behavior-driven development(BDD) and testing in Python/Django

#### Description
BDD is an extension of Unit/Integration testing and TDD which involves writing test cases in a natural language that non-programmers can read which encourages collaboration between developers, QA and non-technical or business participants in a software project.

#### Table of Contents
* What is B

[2020-07-18 15:59] Ankit-rana commented on #102
http://ankit-rana.github.io/blog/2020/07/11/factory-in-python

[2020-07-18 17:06] #101 closed

[2020-07-18 17:08] digitronik opened #109 "July 2020 PythonPune Newsletter Collection Box"
Let's use this issue to collect python related news, new package updates and events happening around Pune. We can compile and publish it during **July PythonPune** meetup.

## How to add news:
Comment on this issue with news link and news topic and also include the source from we got this.

## How to add new package release:
Paste the link of new package release

## How to include events here:
If

[2020-07-18 17:16] digitronik commented on #109
Pytest major release (pytest-6.0) coming soon. Pre-release rc1 available for testing.
https://pypi.org/project/pytest/6.0.0rc1/
https://docs.pytest.org/en/latest/changelog.html#pytest-6-0-0rc1-2020-07-08

[2020-07-18 17:20] digitronik commented on #109
Now, Github Action supporting unstable python versions (Python-3.9 beta).
https://github.com/actions/python-versions/pull/38
https://github.com/actions/python-versions/releases/tag/3.9.0-beta.4-20200715.2

[2020-07-18 17:37] digitronik commented on #109
Python 3.8.4 is now available
https://www.python.org/downloads/release/python-384/

[2020-07-18 17:39] digitronik commented on #109
Pip team midyear report
http://pyfound.blogspot.com/2020/07/pip-team-midyear-report.html

[2020-07-18 17:49] digitronik opened #110 "Auto-compile newsletter"
Create script which will auto-compile newsletter.

[2020-07-19 11:00] bhavin192 commented on #108
Hello @devendralaulkar, thank you for showing interest in delivering a talk in our meetup. Does 25th July, 15:00 to 17:00 IST works for you?

[2020-07-19 11:11] bhavin192 commented on #107
Hello @riya-17, thank you for submitting a very interesting talk. We are planning to schedule your talk during next month's meetup (August). I will update here before finalizing date of next meetup, hope that works for you.

[2020-07-19 11:13] bhavin192 commented on #106
As discussed offline, scheduling this talk in this month's meetup (25th July).

[2020-07-20 12:45] amolkahat commented on #109
Manim: Mathematical Animation Engine
Github: https://github.com/3b1b/manim
Tutorial: https://talkingphysics.wordpress.com/2019/01/08/getting-started-animating-with-manim-and-python-3-7/

[2020-07-21 04:25] devendralaulkar commented on #108
25th July works for me.

Table of Contents

* What is BDD?
* Need for collaboration/Why BDD
* Basics of Gherkin syntax
* Integrating behave/behave-django in your project
* Writing your first test cases
* Executing behave tests
* Pitfalls to avoid

You can contact me at https://www.linkedin.com/in/devendralaulkar/

[2020-07-23 14:01] Akasurde opened #112 "How I submitted my first Core Python patch"
#### Title of the talk
How I submitted my first Core Python patch

#### Description
This is 30 minutes talk that explores the process to start contributing to Python Project.

#### Table of contents
* Introduction to Open Source Contribution
* Finding problem
* Process

#### Duration (including Q&A)
30 Minutes

#### Prerequisites

#### Speaker bio

My name is Abhijeet Kasurde. I am a core contribu

[2020-07-23 14:45] gabhijit opened #113 "cffi FTW - Bringing Wireshark's Dissectors to Python"
#### Title of the talk
`cffi` FTW - Bringing Wireshark's Dissectors to Python

#### Description

The talk is more about how to write Python extension modules using `cffi` using a motivating example and discusses practical aspects, gotchas and things to remember. I am submitting a proposal for the same for Pycon 2020 India.

I will be talking about lessons learnt while implementing [wishpy](https:/

[2020-07-24 15:22] digitronik commented on #15
Next step is to push new talk proposal to IRC.
I will push this soon.

[2020-07-24 18:08] raukadah commented on #109
* Run Your Flask Regularly Scheduled Jobs with Cron https://blog.miguelgrinberg.com/post/run-your-flask-regularly-scheduled-jobs-with-cron
tldr:
* A little introduction about cron tool and scheduling job
* How to implement the job logic by seperating the schedular and the actual application
* How to use crontab?
* How to have proper logging for the scheduled job?

[2020-07-24 18:08] raukadah commented on #109
Introducing pyage-rust, a Python module for age encryption https://kushaldas.in/posts/introducing-pyage-rust-a-python-module-for-age-encryption.html
tldr:
* Python module for age ( simple, modern and secure file encryption tool,), built on top of rust crate (rage)
* Install it using python3 -m pip install pyage-rust==0.1.0
* check the biog on how to encrypt or decrypt

[2020-07-24 18:08] raukadah commented on #109
Debugging ImportError and ModuleNotFoundErrors in your Docker image https://pythonspeed.com/articles/importerror-docker/
 tldr:
 * Using the correct python interpreters
 * virtualenv is correctly activated
 * Either install all code via pip
 * OR keep all code where python -m is getting executed

[2020-07-24 18:08] raukadah commented on #109
https://realpython.com/python-import/ Python import: Advanced Techniques and Tips
 tldr:
 * Difference between absolute and relative imports
 * resource vs Dynamic imports
 * How python import system works
 * Some tips & tricks regarding handling imports across multiple versions

[2020-07-24 18:08] raukadah commented on #109
Episode 18: Ten Years of Flask: Conversation With Creator Armin Ronacher https://realpython.com/podcasts/rpp/18/

[2020-07-24 18:09] raukadah commented on #109
Project Releases:
 Announcing Poetry 1.0.10 https://python-poetry.org/blog/announcing-poetry-1-0-10.html
 tldr:
 * init and new commands will now provide hints on invalid given licenses

 urllib3-1.25.10 is released https://github.com/urllib3/urllib3/blob/1.25-series/CHANGES.rst#12510-2020-07-22

 3.9.0b5 the last beta before 3.9.0 is available
 https://discuss.python.org/t/python-3-8-5-released-a

[2020-07-24 18:14] raukadah commented on #109
Toolz (A set of utility functions for iterators, functions, and dictionaries.) https://github.com/pytoolz/toolz

[2020-07-25 12:33] bhavin192 commented on #109
Closed by #116

[2020-07-25 12:33] #109 closed

[2020-07-25 12:35] #87 closed

[2020-07-25 12:35] #46 closed

[2020-07-25 12:35] #92 closed

[2020-07-25 12:35] #96 closed

[2020-07-25 12:35] #102 closed

[2020-07-25 12:35] #103 closed

[2020-08-01 00:49] github-actions[bot] opened #118 "August 2020 PythonPune newsletter collection box"
Let's use this issue to collect Python related news, new package updates and events happening around Pune.
We can compile and publish it during **August 2020 PythonPune** meetup.

### How to add news:
Comment on this issue with news link.
Please try to include the source like tweet / reddit and a TL;DR section giving brief about the link.

### How to add new package release:
Paste the link of new

[2020-08-01 10:40] raukadah commented on #118
https://github.com/MarkForged/GOMP - A Git-based tool for comparing branches, designed to work with a rebase-oriented Git workflow.

[2020-08-02 03:08] chavarera commented on #118
isort is a Python utility / library to sort imports alphabetically, and automatically separated into sections and by type. It provides a command line utility, Python library and plugins for various editors to quickly sort all your imports.

http://timothycrosley.github.io/isort/

[2020-08-02 17:31] raukadah commented on #118
https://github.com/willmcgugan/rich - Rich is a Python library for rich text and beautiful formatting in the terminal.

[2020-08-02 19:45] digitronik commented on #118
pytest major version lands 6.0
https://docs.pytest.org/en/stable/changelog.html

[2020-08-02 19:48] digitronik commented on #118
A curated list of awesome Python frameworks, libraries, software and resources.
https://github.com/vinta/awesome-python

[2020-08-03 12:28] raukadah commented on #118
The easy way to send notifications - https://github.com/liiight/notifiers

[2020-08-05 02:44] chavarera commented on #118
Arrow

Arrow is a Python library that offers a sensible and human-friendly approach to creating, manipulating, formatting and converting dates, times and timestamps.
GitHub : https://github.com/arrow-py/arrow
Docs : https://arrow.readthedocs.io/en/stable/

[2020-08-05 04:17] akshay196 commented on #15
@raukadah I am not against the notification messages on IRC but we have to make sure that #pythonpune channel does not spam with lot of notifications. Only the valuable messages to organizers as well as members should be push to IRC. What do you think on this?

@vishal-vvr @bhavin192 @girish946

[2020-08-05 06:40] bhavin192 commented on #15
This is what I wanted to discuss before going forward too. Thank you @akshay196 for bringing it up here.
Few questions which might help us come to a conclusion.

### Newsletter comments
1. Who is the intended audience / recipient for these notifications?
    Everyone from the group / channel? If so, won't that be redundant to have same links in the newsletter?
    That brings us to next question
2

[2020-08-05 15:58] chavarera commented on #118
Python Fire is a library for automatically generating command line interfaces (CLIs) from absolutely any Python object

https://github.com/google/python-fire

[2020-08-05 19:24] digitronik commented on #15
@akshay +1 for this. Yup, we tried considering this. If you read the original proposal of Chandan in issue body (most of GH activity). In the last conversation on IRC/Telegram, He proposed mainly two things
- talk-proposal
- comments on newsletter issue (news contributed by our volunteers)

Now, we need to decide that this notification going to spam our communication channel or not?

My personal v

[2020-08-05 19:48] digitronik commented on #15
Thanks for questions @bhavin192

I can every interested candidate in the group who likes to know news/info collected by our contributors.

hummm this question is interesting and imp. The newsletter is a well-compiled collection of news.
Other though. Do you think everyone in a group read every message or every newsletter?
Personal view: People read messages as per the availability even some of the

[2020-08-06 17:54] chavarera commented on #118
pip 20.2 released
https://blog.python.org/2020/07/upgrade-pip-20-2-changes-20-3.html

[2020-08-11 17:43] akshay196 commented on #15
Good to me.

Considering less comments on talk & newsletter issue would not spam the channel. To know if notification actually make sense on IRC/Telegram channel, we want to enable the notification. Let's enable if if there are no more discussion. However we should monitor the channel and if notification messages interrupting the channel discussion, then we should consider minimizing the notificat

[2020-08-14 20:14] riya-17 commented on #107
Sure

[2020-08-15 16:58] bhavin192 commented on #107
We are planning to have this month's meetup on 29th or 30th at 15:30, does that work for you?

[2020-08-16 11:48] raukadah commented on #15
I have added this issue long time ago so that anyone can work on a standalone project where they can enable these features
for any community project.

But this thread sparkled a great discussion highlighting communication is the most important thing for a thriving community.
Thank you @akshay196, @bhavin192 and @digitronik for starting the thread. I am summarizing the questions in this comment.

*

[2020-08-17 10:47] riya-17 commented on #107
Sure @bhavin192 that works for me

[2020-08-18 05:32] vishal-vvr commented on #113
Hello @gabhijit, thank you for submitting a very interesting talk. We are planning to schedule your talk in our this month's meetup (30th Aug 2020 at 15:30).
Please confirm you availability.
Thanks  :)

[2020-08-18 05:45] gabhijit commented on #113
Yes - works!

[2020-08-18 05:49] bhavin192 commented on #113
There were slight changes to the issue template after your proposal, can you please add the Table of contents and Speaker bio sections to this issue?
https://raw.githubusercontent.com/pythonpune/meetup-talks/master/.github/ISSUE_TEMPLATE/propose-a-talk.md

[2020-08-18 06:02] gabhijit commented on #113
Done!

[2020-08-19 03:26] akshay196 commented on #15
Good idea. Let's create a poll and go ahead as per the result.

[2020-08-19 07:19] bhavin192 commented on #113
This talk has been scheduled https://www.meetup.com/PythonPune/events/272520240/
If you are on Freenode IRC, please join #pythonpune there or you can join the Telegram group here, http://tel.pythonpune.in

[2020-08-19 07:20] bhavin192 commented on #107
This talk has been scheduled https://www.meetup.com/PythonPune/events/272520240/

@riya-17 there was a slight change in the issue template, can you please add the Table of Contents section to your proposal? Also take a look at the Speaker bio section.
https://raw.githubusercontent.com/pythonpune/meetup-talks/master/.github/ISSUE_TEMPLATE/propose-a-talk.md

If you are on Freenode IRC, please join #

[2020-08-19 09:55] riya-17 commented on #107
Sure.. Will add soon

[2020-08-21 08:26] amolkahat commented on #118
Structured concurrency in Python with AnyIO
https://mattwestcott.co.uk/blog/structured-concurrency-in-python-with-anyio

[2020-08-24 06:47] riya-17 commented on #107
@bhavin192 I have updated the info

[2020-08-29 07:38] riya-17 commented on #107
Hey @bhavin192 can we schedule a demo run to know the environment for the talk today? If possible it will be good if we can connect through some medium like LinkedIn.

[2020-08-29 17:08] bhavin192 commented on #107
Usually we do the testing an hour before, that suites best. Previously we had issues where the setup worked well a day before but not on the day of the meetup. I will send details over mail or LinkedIn. If you want to check your screensharing, mic etc, you can try it on this link, https://meet.jit.si/PythonPuneHangoutRoom

[2020-08-29 17:16] riya-17 commented on #107
Ohh ok.. Thank you.. I was unaware

[2020-08-29 17:20] bhavin192 commented on #107
No worries, we appreciate your willingness to test the setup beforehand. I have shared the details with you over email.

[2020-08-29 17:22] bhavin192 commented on #113
Hey @gabhijit, I have shared details of tomorrow's meetup over LinkedIn.

[2020-08-30 07:47] raukadah commented on #118
https://www.saltstack.com/blog/pytest-a-journey-of-three-years/ - PyTest – A Journey of Three Years

[2020-08-30 07:47] raukadah commented on #118
Writing Python Extensions in Assembly - https://tonybaloney.github.io/posts/extending-python-with-assembly.html

[2020-08-30 07:47] raukadah commented on #118
Github action that checks the toxicity level of comments and PR reviews to help make repos safe spaces.  - https://github.com/charliegerard/safe-space

[2020-08-30 07:48] raukadah commented on #118
Interactively grep source code. Source - https://github.com/livegrep/livegrep

[2020-08-30 07:48] raukadah commented on #118
You should include your tests in coverage - https://nedbatchelder.com/blog/202008/you_should_include_your_tests_in_coverage.html

[2020-08-30 07:48] raukadah commented on #118
Never Run ‘python’ In Your Downloads Folder - https://glyph.twistedmatrix.com/2020/08/never-run-python-in-your-downloads-folder.html

[2020-08-30 07:48] raukadah commented on #118
Run only the tests that are relevant for your changes  - https://github.com/man-group/partialtesting

[2020-08-30 07:49] raukadah commented on #118
A py.test plugin to validate Jupyter notebooks  -  https://github.com/computationalmodelling/nbval

[2020-08-30 07:49] raukadah commented on #118
Monkeypatching with pytest  - https://www.patricksoftwareblog.com/monkeypatching-with-pytest/

[2020-08-30 07:50] raukadah commented on #118
Interrogate a codebase for docstring coverage - https://interrogate.readthedocs.io/en/latest/

[2020-08-30 09:06] gabhijit commented on #113
@bhavin192 yes got them and acked there. Looks like I am the only one there at the meeting at the moment! :-)

[2020-08-30 09:14] riya-17 commented on #113
@bhavin192 I couldn't see any links for the testing. on LinkedIn as well as
mail.

On Sun, Aug 30, 2020 at 2:36 PM Abhijit Gadgil <notifications@github.com>
wrote:

[2020-09-01 01:01] github-actions[bot] opened #121 "September 2020 PythonPune newsletter collection box"
Let's use this issue to collect Python related news, new package updates and events happening around Pune.
We can compile and publish it during **September 2020 PythonPune** meetup.

### How to add news:
Comment on this issue with news link.
Please try to include the source like tweet / reddit and a TL;DR section giving brief about the link.

### How to add new package release:
Paste the link of n

[2020-09-11 14:29] digitronik commented on #15
can I get some updates related to this ^^
Already we wested a lot of time without any conclusion. Currently, I'm cleaning my old PRs, let me know happy close if PR is not suitable.

[2020-09-11 14:51] digitronik commented on #118
https://github.com/pythonpune/meetup-talks/pull/120

[2020-09-11 14:51] #118 closed

[2020-09-14 16:48] bhavin192 commented on #112
As discussed offline, we are scheduling this talk in this month's meetup.

There were slight changes to the issue template after your proposal, can you please add the Table of contents and Speaker bio sections to this issue?
https://raw.githubusercontent.com/pythonpune/meetup-talks/master/.github/ISSUE_TEMPLATE/propose-a-talk.md

[2020-09-15 05:50] inovizz commented on #112
Just a small note - We have total 30 mins for the talk including QnA, so @Akasurde you might want to shorten the talk to 25 mins and 5 mins of QnA. Hope that works?

cc @bhavin192

[2020-09-15 06:09] Akasurde commented on #112
Thanks for the suggestion. I am pre-recording the session so I will be available throughout the session for QnA.

[2020-09-18 14:15] chavarera commented on #121
GitHub CLI 1.0 is now available

https://github.blog/2020-09-17-github-cli-1-0-is-now-available/

[2020-09-21 06:18] Akasurde commented on #112
Please find the link for slides - https://github.com/Akasurde/shared_contents/blob/master/slides/contributing_to_core_python.pdf

[2020-09-25 10:49] aprajshekhar opened #122 "Design Patterns and Python: Structural Design Patterns"
#### Title of the talk
Design Patterns and Python: Structural Design Patterns

#### Description
Structural patterns helps in creating larger application by combining multiple objects. In this talk, I will be discussing structural patterns in detail with focus on Facade and Proxy patterns

#### Table of contents

- Design Patterns: In nutshell
- Structural Patterns: Whys and wherefores
- Facade Pat

[2020-10-01 01:08] github-actions[bot] opened #123 "October 2020 PythonPune newsletter collection box"
Let's use this issue to collect Python related news, new package updates and events happening around Pune.
We can compile and publish it during **October 2020 PythonPune** meetup.

### How to add news:
Comment on this issue with news link.
Please try to include the source like tweet / reddit and a TL;DR section giving brief about the link.

### How to add new package release:
Paste the link of new

[2020-10-01 11:29] Akasurde commented on #123
Free course for those who are interested in learning Python and Data analysis using Numpy and Pandas - https://jovian.ml/learn/data-analysis-with-python-zero-to-pandas

[2020-10-01 11:33] Akasurde commented on #123
Python Full courses from FreeCodeCamp.org - https://www.youtube.com/playlist?list=PLWKjhJtqVAbnqBxcdjVGgT3uVR10bzTEB

[2020-10-18 08:57] Amitninja12345 opened #124 "Becoming a better developer by using the SOLID design principles"
#### Title of the talk
Becoming a better developer by using the SOLID design principles
#### Description
The talk is more about SOLID design principles and will cover Principles Single Responsibility Principle, Open/Closed Principle and Liskov Substitution Principle.

#### Table of contents

1. Single Responsibility Principle:
2. Open/Closed Principle:
3. Liskov Substitution Principle:

#### Durat

[2020-10-20 18:13] bhavin192 commented on #124
Hello @Amitninja12345, will you be able to deliver this talk during this month's meetup (31st October, will update the time in few days).

Also, can you please share some way to contact you? Your Twitter handle or LinkedIn profile as mentioned in the proposal template here,

[code]

A note: you will have to accept / agree to first and third point from `Checklist` section of the proposal, otherwise

[2020-10-20 18:17] bhavin192 commented on #122
Hello @aprajshekhar, sorry for not having any updates on the proposal, most of us were busy with PyCon India 2020 last month.
Will you be able to deliver this talk during this month's meetup (31st October, I will update timing in few days).

[2020-10-21 09:05] Amitninja12345 commented on #124
Heilo @bhavin192  It would be great if you can schedule in the next month.

[2020-10-21 09:38] aprajshekhar commented on #122
@bhavin192, no worries. It would be great if it could be scheduled for next month.

[2020-10-23 13:35] amolkahat opened #125 "What's new in Python 3.9"
#### Title of the talk
What's new in Python3.9

#### Description
The talk is about new features in Python 3.9.

#### Duration (including Q&A)
30 mins

#### Prerequisites
Basic understanding of Python.

#### Speaker bio
Full time Python developer, having 4+ years of experience in Python programming.

#### Checklist

The talk/workshop speaker agrees to,
- [x] Share the slides, code snippets and othe

[2020-10-23 13:44] amolkahat commented on #123
Zettelkasten method to take notes
- https://writingcooperative.com/zettelkasten-how-one-german-scholar-was-so-freakishly-productive-997e4e0ca125

[2020-10-26 11:02] Amitninja12345 commented on #124
@bhavin192 Can we schedule this on 29th November?

[2020-10-28 14:26] raukadah commented on #121
Python’s super() considered super! - https://rhettinger.wordpress.com/2011/05/26/super-considered-super/

[2020-10-28 14:26] raukadah commented on #121
git-cu helps keep your local git repositories organized by cloning them into a directory structure based on their URL. - https://gitlab.com/3point2/git-cu

[2020-10-28 14:26] raukadah commented on #121
Scriv - changelog management tool - https://scriv.readthedocs.io/en/latest/

[2020-10-28 14:27] raukadah commented on #123
Bangpypers's Newsletter - https://bangpypers.substack.com/p/bangpypers-m10w5

[2020-10-28 14:27] raukadah commented on #123
Ideas for making CPython 5x faster - https://github.com/markshannon/faster-cpython/blob/master/plan.md

[2020-10-28 14:27] raukadah commented on #123
How I Tried To Reduce Pylint Memory Usage - https://rtpg.co/2020/10/12/pylint-usage.html

[2020-10-28 14:27] raukadah commented on #123
How to Kill a Python Thread - https://blog.miguelgrinberg.com/post/how-to-kill-a-python-threadPython PEPs Graph

[2020-10-28 14:27] raukadah commented on #123
Python PEPs Graph Visualization - http://python-peps-graph.glitch.me/

[2020-10-28 14:27] raukadah commented on #123
Rust bindings for Python - https://pyo3.rs/v0.12.3/

[2020-10-28 14:28] raukadah commented on #123
Python 3.9.0 is officially out - https://www.python.org/downloads/release/python-390/

[2020-10-28 14:28] raukadah commented on #123
urllib3 Newsletter - September 2020 - https://sethmlarson.dev/blog/2020-10-05/urllib3-newsletter-september-2020

[2020-10-28 14:28] raukadah commented on #123
EuroPython 2021 will be run online - https://blog.europython.eu/post/632055258029473792/europython-2021-will-be-run-online

[2020-10-28 14:29] raukadah commented on #123
CFP and tickets for PyConf Hyderabad 2020 - https://pyconf.hydpy.org/2020/

[2020-10-29 18:29] akshay196 opened #128 "Understanding Python's super() function"
#### Title of the talk
Understanding Python's super() function

#### Description
This talk gives brief introduction to the super() function. Also explains why Python's super() is considered super!

#### Table of contents
What is super()
Its benefits
MRO
Advice on usage of super()

#### Duration (including Q&A)
15 min

#### Prerequisites
Classes and concept of inheritance in Python.

#### Speaker b

[2020-10-31 07:20] akshay196 commented on #128
You will find slide of this talk [here](https://docs.google.com/presentation/d/1v90mlFy40qJEdyB09paAh4MfpDiiwv_-LZjJkv_rhjE).

[2020-11-01 00:53] github-actions[bot] opened #129 "November 2020 PythonPune newsletter collection box"
Let's use this issue to collect Python related news, new package updates and events happening around Pune.
We can compile and publish it during **November 2020 PythonPune** meetup.

### How to add news:
Comment on this issue with news link.
Please try to include the source like tweet / reddit and a TL;DR section giving brief about the link.

### How to add new package release:
Paste the link of ne

[2020-11-10 18:34] bhavin192 commented on #124
Hello, will you be able to deliver this talk on 28th of this month (November)? We are planning to the meetup around 11:00 AM to 13:00 PM IST.

[2020-11-10 18:36] bhavin192 commented on #122
Hello, will you be able to deliver this talk on 28th of this month (November)? We are planning to have the meetup around 11:00 AM to 13:00 PM IST.

[2020-11-12 11:27] Amitninja12345 commented on #124
@bhavin192 Yes I confirm my availability.

[2020-11-17 06:29] aprajshekhar commented on #122
Hi, yes I will be able to deliver this talk on 28th November. I apologize for the delay in responding.

[2020-11-21 11:38] bhavin192 commented on #106
Hello @adtandale, can you please share slides of your talk?

[2020-11-21 11:49] bhavin192 commented on #108
Hello @devendralaulkar can you please share slides and the code examples from your talk?

[2020-11-21 14:46] bhavin192 commented on #125
Hello @amolkahat can you please share your slides / notes you used for this talk?

[2020-11-21 16:36] bhavin192 commented on #123
Closed by #127

[2020-11-21 16:36] #123 closed

[2020-11-21 16:37] bhavin192 commented on #121
Closed by #127

[2020-11-21 16:37] #121 closed

[2020-11-21 18:24] #106 closed

[2020-11-21 18:24] #107 closed

[2020-11-21 18:24] #108 closed

[2020-11-21 18:24] #112 closed

[2020-11-21 18:24] #113 closed

[2020-11-21 18:24] #125 closed

[2020-11-21 18:24] #128 closed

[2020-11-27 06:43] raukadah commented on #129
Learning magic behind scenes of CPython: https://tenthousandmeters.com/tag/python-behind-the-scenes/

PyPy: Faster Python With Minimal Effort - https://realpython.com/pypy-faster-python/

[2020-11-27 06:43] raukadah commented on #129
Tracking the top 5,000 packages on PyPI for changes that may impact the ecosystem - https://github.com/sethmlarson/pypi-seismometer

Creating React Front-End Web Applications with Python - https://www.jennasys.com/rtp.html

[2020-11-27 06:43] raukadah commented on #129
A more relaxed `pip freeze` - https://github.com/rbanffy/pip-chill
Display machine state using Python3 with Flask - https://github.com/yoobool/flask-state
Library Sphinx Theme - https://vsalvino.github.io/sphinx-library/
get things from one computer to another, safely - https://github.com/warner/magic-wormhole

[2020-11-27 06:44] raukadah commented on #129
Discussion about recent CoC events - https://discuss.python.org/t/discussion-about-recent-coc-events/5778

Unravelling `is` and `is not` - https://snarky.ca/unravelling-is-and-is-not/

[2020-11-27 06:44] raukadah commented on #129
Standing up for developers: youtube-dl is back - https://github.blog/2020-11-16-standing-up-for-developers-youtube-dl-is-back/

Learning Python Test automation - https://automationpanda.com/2020/11/09/learning-python-test-automation/

Data validation and settings management using python type annotations - https://pydantic-docs.helpmanual.io/

[2020-11-27 06:45] raukadah commented on #129
Hunting for Malicious Packages on PyPI - https://jordan-wright.com/blog/post/2020-11-12-hunting-for-malicious-packages-on-pypi/

python cffi tutorial - https://www.youtube.com/watch?v=X5irxO5VCHw&feature=youtu.be

[2020-11-27 06:46] raukadah commented on #129
https://pyconf.hydpy.org/2020/ - PyConf Hyderabad 2020 - 5th. 6th Dec 2020

[2020-11-27 06:47] raukadah commented on #129
https://scipy.in/2020 - International conference on Python for education and scientific computing - 19th, 20th Dec. 2020

[2020-11-28 04:12] bhavin192 commented on #15
@digitronik let's enable it, if someone complaints we will get back to it and tune it? (I will review your PR today, let's get the message bodies right).

OTOH I have seen a pattern here though, people (including Chandan share the link first on IRC and then add to newsletter). Our change might help to flip this around? Like Chandan or anyone will share the link on GitHub issue which will automatic

[2020-11-28 06:39] aprajshekhar commented on #122
- Presentation for first talk: https://drive.google.com/file/d/1A7JoIbPWxWKWn_3lx05R9M5zFNuLAUyU/view?usp=sharing
- Presentation for this talk: https://drive.google.com/file/d/11IzsTSiMQiyb-1XL7HSlMFz-qwKz0N2T/view?usp=sharing
- Martin Fowler's blog: https://martinfowler.com/
- Martin Fowler's twitter handle: https://twitter.com/martinfowler

[2020-11-28 11:25] Pradhvan opened #133 "Exploring higher order functions and Decorators"
#### Title of the talk

Exploring high order functions and Decorators

#### Description

*Rough Description: Exploring the world of High Order Functions in the land of Python. Learning how functions can be taken as arguments to other functions and using that knowledge to write clever functions with Decorators.*

Will post a detailed description in the coming week.

#### Table of contents

* Will b

[2020-11-30 06:42] visheshh commented on #107
Hi @riya-17 , Can you help me setting up pbench-server and pbench-web-server. I am not able to find any Installation guides.

[2020-12-01 01:12] github-actions[bot] opened #134 "December 2020 PythonPune newsletter collection box"
Let's use this issue to collect Python related news, new package updates and events happening around Pune.
We can compile and publish it during **December 2020 PythonPune** meetup.

### How to add news:
Comment on this issue with news link.
Please try to include the source like tweet / reddit and a TL;DR section giving brief about the link.

### How to add new package release:
Paste the link of ne

[2020-12-01 03:47] bhavin192 commented on #129
Fixed by #132

[2020-12-01 03:47] #129 closed

[2020-12-01 05:56] riya-17 commented on #107
Hey @vishesh,
Sure, I would love to but at present we are working to make it external user specific as we have some functionalities that are only available only internally due to which installation on public end is not properly available.
Will update you as soon as we achieve it.

Thanks a lot for your interest in Pbench

[2020-12-01 09:37] bhavin192 commented on #134
This was shared by @Pradhvan https://github.com/judy2k/stupid-python-tricks

[2020-12-04 08:48] raukadah commented on #134
https://pycon.blogspot.com/2020/12/announcing-pycon-us-2021.html

[2020-12-04 08:48] raukadah commented on #134
https://pyfound.blogspot.com/2020/11/pip-20-3-new-resolver.html

[2020-12-05 13:51] raukadah commented on #134
https://github.com/zverok/spylls

[2020-12-07 09:03] GoelJatin opened #135 "Memory Management in Python"
#### Title of the talk
Memory Management in Python

#### Description
We'll be talking about how objects are stored in stored in memory and how they're garbage collected.

1. Reference count
1. Garbage collection
1. Generational garbage collection
1. Some gotchas
1. And then finally, some quick optimisations you can do in your Python code

#### Duration (including Q&A)
45 minutes

#### Prerequisite

[2020-12-08 05:24] vishalvvr commented on #135
Hello @GoelJatin,
Thank you for submitting the talk.
Will you be able to deliver this talk on 19th of this month (December)?
We are planning to have the meetup around 11:00 AM to 01:00 PM IST.

[2020-12-08 05:27] GoelJatin commented on #135
Hey @vishalvvr , there are some other plans for 19th, but I'll confirm and get back to you on this ASAP

[2020-12-09 08:11] raukadah commented on #134
https://www.reddit.com/r/Python/comments/k8yv7b/i_made_a_script_to_skip_youtube_ads/

[2020-12-13 17:39] GoelJatin commented on #135
Hey @vishalvvr , really sorry about the delay from my end. I can give the talk this Saturday, December 19, but would be great if I can have the first slot. Thanks for your patience and understanding!!

[2020-12-18 17:22] bhavin192 commented on #135
Hey @GoelJatin sorry for not responding on this issue, we have scheduled your talk in the first slot.
https://www.meetup.com/PythonPune/events/274919127/

We will be starting with your talk around 11:10, please join around 10:45. Hope the timing of 11:10 works for you.

https://meet.jit.si/PythonPuneDecember2020

[2020-12-19 04:23] raukadah commented on #134
https://github.com/sumerc/yappi

https://github.com/andy-landy/traceback_with_variables

https://github.com/EONRaider/Packet-Sniffer

https://github.com/laike9m/Cyberbrain

[2020-12-19 04:23] raukadah commented on #134
http://pyfound.blogspot.com/2020/12/announcing-psf-diversity-and-inclusion.html

https://kushaldas.in/posts/open-source-project-criticality-score-2020-for-python-projects.html

[2020-12-19 04:24] raukadah commented on #134
https://pycon.blogspot.com/2020/12/announcing-pycon-us-20222023.html

https://lwn.net/SubscriberLink/840248/ef4882f230a1e2eb/

[2020-12-19 04:24] raukadah commented on #134
https://github.com/ossf/criticality_score

[2020-12-22 10:45] GoelJatin commented on #135
Slides links - https://bit.ly/jatin-pycon-memory-mgmt

[2021-01-06 16:10] raukadah opened #138 "January 2021 PythonPune newsletter collection box"
Let's use this issue to collect Python related news, new package updates and events happening around Pune.
We can compile and publish it during **January 2021 PythonPune** meetup.

### How to add news:
Comment on this issue with news link.
Please try to include the source like tweet / reddit and a TL;DR section giving brief about the link.

### How to add new package release:
Paste the link of new

[2021-01-06 16:46] #15 closed

[2021-01-06 17:26] bhavin192 commented on #138
This is a test comment

[2021-01-06 17:36] bhavin192 commented on #138
This is a test comment, last one for the day.

[2021-01-07 17:14] Pradhvan opened #139 "Context Managers : Manage your resources smartly"
#### Title of the talk
Context Managers: Manage your resources smartly

#### Description
_Rough Description:_

_What are context managers? How do they work?  What it's got to do with the `with` statement. How can I leverage them to manage resources/files effectively?  Can I write my own?_

_If you had ever wondered about any of those questions, this talk would try answer all of them._

#### Table

[2021-01-15 16:15] digitronik opened #140 "GitHub Actions"
#### Title of the talk
GitHub Actions

#### Description
Are you maintaining/contributing to any python package? Like to automate workflows? Let's discuss common workflows for python projects (demo). If time permits, we will discuss how to use GitHub actions for writing simple bots.

#### Duration (including Q&A)
40 min

#### Prerequisites
Basic understanding of Python Package CI/CD.

#### Speaker

[2021-01-22 17:30] bhavin192 commented on #139
This talk has been scheduled in this month's meetup, https://www.meetup.com/PythonPune/events/275599702/

Jitsi link: https://meet.jit.si/PythonPuneJanuary2021
Please join around 10:40, we will start around 11:10 or so.

[2021-01-22 17:34] bhavin192 commented on #134
Fixed by #137

[2021-01-22 17:34] #134 closed

[2021-01-23 03:32] raukadah commented on #138
Unravelling boolean operations - https://snarky.ca/unravelling-boolean-operations/
Unravelling the import statement - https://snarky.ca/unravelling-the-import-statement/
Unravelling assertions - https://snarky.ca/unravelling-assertions/

[2021-01-23 03:33] raukadah commented on #138
Testing & Packaging - https://hynek.me/articles/testing-packaging/
better error messages for assert equals in pytest  - https://github.com/hjwp/pytest-icdiff
Testing Python Applications with Pytest  - https://stribny.name/blog/pytest/

[2021-01-23 03:33] raukadah commented on #138
Python behind the scenes #7: how Python attributes work - https://tenthousandmeters.com/blog/python-behind-the-scenes-7-how-python-attributes-work/
Isolate Python Subinterpreters - https://vstinner.github.io/isolate-subinterpreters.html
Tracing the Python GIL - https://www.maartenbreddels.com/perf/jupyter/python/tracing/gil/2021/01/14/Tracing-the-Python-GIL.html

[2021-01-23 03:34] raukadah commented on #138
pem: Easy PEM file parsing in Python - https://pem.readthedocs.io/en/stable/index.html
Best-of Web Development with Python  - https://github.com/ml-tooling/best-of-web-python
A tool to keep track of your Python package updates.  - https://github.com/jgonggrijp/pip-review
Python library for font previews  - https://github.com/MatteoGuadrini/fontpreview
Like a Python list but better.  - https://gith

[2021-01-23 03:34] raukadah commented on #138
Python 3.10.0a4 - https://www.python.org/downloads/release/python-3100a4/
2020 in Review  - https://pyfound.blogspot.com/2021/01/2020-in-review.html

[2021-01-23 03:34] raukadah commented on #138
C for Python Programmers - https://realpython.com/c-for-python-programmers/
How to migrate Python 2 projects to 3 & some useful tips  - https://dev.to/epamindia/how-to-migrate-python-2-projects-to-3-some-useful-tips-1kid

[2021-01-26 18:34] sourabhdeshmukh opened #143 "Include Python Pune monthly meetup videos on https://pyvideo.org/events.html"
### Following link is the example for Boston Python Meetup.
[Boston Python Meetup](https://pyvideo.org/events/boston-python-meetup.html)

### Please follow the following guidelines for Contribution.
[Guidelines](https://github.com/pyvideo/data/blob/master/CONTRIBUTING.rst)

[2021-01-29 16:02] Pradhvan commented on #139
Follow up blogpost on the talk: https://pradhvan.scrollstack.com/post/2771/Context-Managers-in-Python

Closing the issue now. 😄

[2021-01-29 16:20] bhavin192 commented on #139
Reopening, we are yet to create summary page and video, https://github.com/pythonpune/meetup-talks#submit-a-talkworkshop

[2021-01-29 16:58] Pradhvan commented on #139
ah! okay, My bad! 😄

[2021-02-01 01:37] github-actions[bot] opened #144 "February 2021 PythonPune newsletter collection box"
Let's use this issue to collect Python related news, new package updates and events happening around Pune.
We can compile and publish it during **February 2021 PythonPune** meetup.

### How to add news:
Comment on this issue with news link.
Please try to include the source like tweet / reddit and a TL;DR section giving brief about the link.

### How to add new package release:
Paste the link of ne

[2021-02-01 05:21] raukadah commented on #144
*  Mypy 0.800 Released  - http://mypy-lang.blogspot.com/2021/01/mypy-0800-released.html
* You don't really need a virtualenv - https://frostming.com/2021/01-22/introducing-pdm/
* Fedora Loves Python 2020 report - https://communityblog.fedoraproject.org/fedora-loves-python-2020-report/
* Context Managers in Python. - https://blog.manavgarg.in/context-managers-in-python
*

[2021-02-01 06:40] raukadah commented on #144
On structured and unstructured data, or the case for cattrs - https://threeofwands.com/on-structured-and-unstructured-data-or-the-case-for-cattrs/

[2021-02-01 09:05] chavarera commented on #144
Python Jupyter Notebooks in Excel.
Embed Jupyter into Microsoft Excel and write Python instead of VBA
https://pypi.org/project/pyxll/

[2021-02-02 14:06] #122 closed

[2021-02-02 14:06] #135 closed

[2021-02-02 14:06] #139 closed

[2021-02-26 18:41] bhavin192 commented on #140
This talk has been scheduled in this month's meetup, https://www.meetup.com/PythonPune/events/276509512/

Jitsi link: https://meet.jit.si/PythonPuneFebruary2021
Please join around 10:40, we will start around 11:10 or so.

[2021-02-27 04:48] raukadah commented on #144
Anonymous Chat using OnionShare - https://saptaks.blog/posts/anonymous-chat-using-onionshare.html

Sailbot: A quick and easy way to distribute your Python projects! - https://github.com/cole-wilson/sailboat

Python job scheduling for humans - https://pypi.org/project/schedule/1.0.0/

Python Testing with pytest - https://medium.com/pragmatic-programmers/table-of-contents-86377afafc57

gistfinder -

[2021-02-27 06:45] digitronik commented on #140
https://github.com/digitronik/test-gh-action

[2021-02-27 06:54] bhavin192 commented on #140
- https://docs.github.com/en/actions/reference/specifications-for-github-hosted-runners#supported-runners-and-hardware-resources
- https://github.com/marketplace?type=actions
- https://github.com/nektos/act

[2021-03-01 01:24] github-actions[bot] opened #147 "March 2021 PythonPune newsletter collection box"
Let's use this issue to collect Python related news, new package updates and events happening around Pune.
We can compile and publish it during **March 2021 PythonPune** meetup.

### How to add news:
Comment on this issue with news link.
Please try to include the source like tweet / reddit and a TL;DR section giving brief about the link.

### How to add new package release:
Paste the link of new p

[2021-03-02 03:14] jasonbraganza commented on #147
This might be old, but I just came across it
Best-of Python, A ranked list of awesome Python open-source libraries & tools. Updated weekly.
https://github.com/ml-tooling/best-of-python#----best-of-python----

[2021-03-08 16:08] #144 closed

[2021-03-19 13:29] raukadah commented on #147
Alternative syntax for Python's lambda - https://lwn.net/Articles/847960/

Testing and Continuous Integration for Python packages with GitHub Actions - https://jacobtomlinson.dev/posts/2021/testing-and-continuous-integration-for-python-packages-with-github-actions/

My Python testing style guide - https://blog.thea.codes/my-python-testing-style-guide/

2021 State Of Pyladies - https://reshamas.git

[2021-03-19 13:36] raukadah commented on #147
https://github.com/dgilland/shelmet
https://github.com/fcambus/dnc
https://github.com/kracekumar/jut/
https://github.com/tiangolo/typer
https://pypi.org/project/certifi-system-store/
https://aroberge.blogspot.com/2021/02/friendly-traceback-testing-with-real.html
http://dabeaz.blogspot.com/2009/10/ultimate-python-quickstart-guide.html

[2021-04-01 02:53] github-actions[bot] opened #149 "April 2021 PythonPune newsletter collection box"
Let's use this issue to collect Python related news, new package updates and events happening around Pune.
We can compile and publish it during **April 2021 PythonPune** meetup.

### How to add news:
Comment on this issue with news link.
Please try to include the source like tweet / reddit and a TL;DR section giving brief about the link.

### How to add new package release:
Paste the link of new p

[2021-04-01 03:10] jasonbraganza commented on #149
Guido Van Rossum’s series on the history of Python and the thought that went into the design of the language in its infancy.
A series of posts that he started in 2009 and has kept slowly adding to over time. Last one (as of now) was in 2018.
Start here. http://python-history.blogspot.com/2009/01/introduction-and-overview.html

[2021-04-01 03:16] jasonbraganza commented on #149
Two free courses by Reuven Lerner

1. Python for non programmers - https://store.lerner.co.il/python-for-non-programmers-live
2. Ace Python Interviews - https://store.lerner.co.il/ace-python-interviews

Reuven is a seasoned trainer. I learnt Python using most of his paid courses and the free courses up above use a *lot* of content from the paid ones.
So if you want to introduce Python to someone n

[2021-04-01 03:18] jasonbraganza commented on #149
Not Python, but probably the most meta skill you need if you are going to invest in a life time of learning. (Python or otherwise)

Learning how to learn by Barbra Oakley, https://www.coursera.org/learn/learning-how-to-learn

[2021-04-02 14:22] jasonbraganza commented on #149
In the spirit of Easter, here’s a few Python Easter eggs

https://github.com/OrkoHunter/python-easter-eggs

[2021-04-04 04:04] raukadah commented on #149
Never use print() to debug again - https://github.com/gruns/icecream

An interpreted relational query language that compiles to SQL.  - https://github.com/erezsh/Preql

Hello, HPy - http://hpyproject.org/blog/posts/2021/03/hello-hpy/

Python code review checklist - https://deepsource.io/blog/python-code-review-checklist/

[2021-04-06 10:49] raukadah commented on #149
Gate Integration Tests on Environment Variables - https://www.0chris.com/gate-integration-tests.html

[2021-04-07 05:36] raukadah commented on #149
How to Write Unit Tests in Python, Part 2: Game of Life - https://blog.miguelgrinberg.com/post/how-to-write-unit-tests-in-python-part-2-game-of-life

[2021-04-08 08:31] adtandale opened #150 "Way to move from as a scripting language towards as a development language"
#### Title of the talk

Way to move from as a scripting language towards as a development language

#### Description

Many software professional are thinking like python is a scripting language and not a perfect development language.
In my talk I will explain how one can develop a view to see towards python as a development language.
With examples of different scenarios I will explain, we can use

[2021-04-09 10:06] raukadah commented on #149
Learn about ghapi, a new third-party Python client for the GitHub API  - https://github.blog/2020-12-18-learn-about-ghapi-a-new-third-party-python-client-for-the-github-api/

[2021-04-11 05:56] raukadah commented on #149
mk ease contributing to any open source repository by exposing most common actions you can run. Inspired by make, tox and other cool tools! : https://github.com/pycontribs/mk

[2021-04-11 09:28] xennygrimmato opened #151 "[Talk Proposal] Introduction to Jax"
#### Title of the talk:
 Introduction to Jax

#### Description
 Jax is a new automatic differentiation library that includes compiler optimizations specific to Machine Learning tasks. It also allows for performing SPMD operations easily across multiple GPUs/TPUs. Jax is gradually becoming popular in the industry for its ease of use and simplicity.

#### Table of contents

- Automatic differentiati

[2021-04-13 04:51] raukadah commented on #149
How to convert a TestCase from setUp() to setUpTestData() : https://adamj.eu/tech/2021/04/12/how-to-convert-a-testcase-from-setup-to-setuptestdata/

[2021-04-15 06:54] raukadah commented on #149
Learn by reading code: Python standard library design decisions explained (for advanced beginners) : https://death.andgravity.com/stdlib

[2021-04-15 11:08] raukadah commented on #149
doit comes from the idea of bringing the power of build-tools to execute any kind of task : https://pydoit.org/

[2021-04-17 18:35] harshgeek4coder opened #152 "Computing Sentence Similarity with Hybrid Siamese Networks in NLP"
#### Title of the talk :
 Learning Sentence Similarity with Hybrid Siamese Networks in NLP

#### Description
One of the important tasks for language understanding and information retrieval is to modelling underlying semantic similarity between words, phrases or sentences. However, a problem remains hard because as having labelled data of variable length complex data structure is difficult. Trivial

[2021-04-18 03:03] vishalvvr commented on #151
Hello @xennygrimmato,
Thank you for submitting the talk.
Will you be able to deliver this talk on 24th of this month (24-04-2021)?
We are planning to have the meetup around 11:00 AM to 01:00 PM IST.

[2021-04-18 11:14] xennygrimmato commented on #151
Yes, I will be able to do that.

[2021-04-23 07:37] vishalvvr commented on #151
This talk has been scheduled in this month's meetup, https://www.meetup.com/PythonPune/events/277373781

Jitsi link: https://meet.jit.si/PythonPuneApril2021
Please join around 10:40 for testing connectivity and setup, we will start around 11:10 or so.

[2021-05-01 01:49] github-actions[bot] opened #153 "May 2021 PythonPune newsletter collection box"
Let's use this issue to collect Python related news, new package updates and events happening around Pune.
We can compile and publish it during **May 2021 PythonPune** meetup.

### How to add news:
Comment on this issue with news link.
Please try to include the source like tweet / reddit and a TL;DR section giving brief about the link.

### How to add new package release:
Paste the link of new pac

[2021-05-02 11:26] bhavin192 commented on #151
Hey @xennygrimmato, can you please share link to the slides, Jupyter notebook etc?

[2021-05-02 11:28] bhavin192 commented on #147
Fixed by https://github.com/pythonpune/meetup-talks/pull/148

[2021-05-02 11:28] #147 closed

[2021-05-04 17:12] #140 closed

[2021-05-04 17:12] #151 closed

[2021-05-06 07:04] xennygrimmato commented on #151
Hey,
Here are the links: [Slides](https://docs.google.com/presentation/d/1TAsRKvwrCreGn9-RNRIZChK9Mm6PO3uNyyzssQ02ij0/edit?usp=sharing), [Colab](https://colab.research.google.com/drive/1TnPs0qEvNQ7amCV6SUxl58dKktdwXNRP?usp=sharing)

[2021-06-01 04:16] github-actions[bot] opened #160 "June 2021 PythonPune newsletter collection box"
Let's use this issue to collect Python related news, new package updates and events happening around Pune.
We can compile and publish it during **June 2021 PythonPune** meetup.

### How to add news:
Comment on this issue with news link.
Please try to include the source like tweet / reddit and a TL;DR section giving brief about the link.

### How to add new package release:
Paste the link of new pa

[2021-06-01 04:49] jasonbraganza commented on #160
edX’s list of colleges teaching Python online - https://www.edx.org/learn/python

[2021-06-02 04:43] jasonbraganza commented on #160
Not Python, but an hour long documentary on Paul Erdős worth your time
N is a number, https://www.youtube.com/playlist?list=PL6180F0E2E9F9F293

[2021-06-03 06:42] jasonbraganza commented on #160
Guido Van Rossum on the early days of Python, https://youtu.be/xLVxoz-mQFs

[2021-06-09 06:33] adtandale opened #161 "Efficient ways to master Object Oriented Programming(OOP) in python."
### Title of the talk

Efficient ways to master Object Oriented Programming(OOP) in python.

### Description

1.People do hesitate to write code in python using OOP principles.
2.Some people start writing programs using OOP principles but they don't know how to master them.
This talk is for the people who want to start working  OOP as well as who want to master on them.
3.Some people can easily wr

[2021-06-13 18:59] surajsnanavare opened #162 "Domain Driven Development in Python"
### Title of the talk

Domain Driven Development in Python

### Description

As software developers, we develop many applications in day-to-day life. So writing a clean, testable, and scalable code is always in need for complex projects. So in this talk, we will discuss the DDD(Domain-driven development) approach for python applications. How to use it, when to use it, why to use it, how it works,

[2021-06-19 12:51] bhavin192 commented on #162
Hello @surajsnanavare, will you be able to present this talk in this month's meetup? 26th of this month.  We are planning to have the meetup around 11:00 AM (your talk will start around 11:15 or even before that.

https://www.meetup.com/PythonPune/events/278587242/

[2021-06-24 03:58] vishalvvr commented on #161
Hello @adtandale,
will you be able to present this talk in this month's meetup? (26th Jun 2021 at 11:00 AM)

https://www.meetup.com/PythonPune/events/278587242/

[2021-06-24 04:23] adtandale commented on #161
Hello @vishalvvr, yes I will!

[2021-06-26 05:17] raukadah commented on #160
* Programming languages: Why Python 4.0 might never arrive, according to its creator
  https://www.techrepublic.com/article/programming-languages-why-python-4-0-will-probably-never-arrive-according-to-its-creator/

* Simple python dockerfile w/ flask
  https://www.youtube.com/watch?v=8V4UowjLIMc

* The Future of FastAPI and Pydantic is Bright
  https://dev.to/tiangolo/the-future-of-fastapi-and-pyd

[2021-06-26 05:18] raukadah commented on #160
https://pypi.org/project/friendly/

[2021-07-01 01:38] github-actions[bot] opened #164 "July 2021 PythonPune newsletter collection box"
Let's use this issue to collect Python related news, new package updates and events happening around Pune.
We can compile and publish it during **July 2021 PythonPune** meetup.

### How to add news:
Comment on this issue with news link.
Please try to include the source like tweet / reddit and a TL;DR section giving brief about the link.

### How to add new package release:
Paste the link of new pa

[2021-07-19 10:59] vishalvvr commented on #162
Hello @surajsnanavare,
will you be able to present this talk in this month's meetup? (31th Jul 2021 at 11:00 AM)

https://www.meetup.com/PythonPune/events/279560059

[2021-07-23 16:16] vishalvvr commented on #133
Hello @Pradhvan,
will you be able to present this talk in this month's meetup? (31th Jul 2021 at 11:00 AM)

https://www.meetup.com/PythonPune/events/279560059

[2021-07-27 05:21] gauravsitlani opened #165 "[Talk Proposal] Introduction to RabbitMQ and AMQP 0-9-1 protocol"
### Title of the talk

Introduction to RabbitMQ and AMQP 0-9-1 protocol

### Description

AMQP 0-9-1 (Advanced Message Queuing Protocol) is a messaging protocol that enables conforming client applications to communicate with conforming messaging middleware brokers.

### Table of contents

* Introduction to AMQP 0-9-1 Model in Brief
* Overview of RabbitMQ along with some basic concepts
* Work Queue

[2021-07-27 05:41] vishalvvr commented on #165
Hello @gauravsitlani,
will you be able to present this talk in this month's meetup? (31th Jul 2021 at 11:00 AM)

https://www.meetup.com/PythonPune/events/279560059

[2021-07-27 05:41] gauravsitlani commented on #165
@vishalvvr sure

[2021-07-27 22:47] sanketverma1704 opened #166 "Animating Data in Powerpoint using Gramex"
### Title of the talk

Animating Data in Powerpoint using Gramex

### Description

[Gramex](https://gramener.com/gramex/) is a low code platform to quickly build and deploy data-based apps.

We'll be delivering a workshop using Gramex to predict [shifting causes of death](https://learn.gramener.com/guide/pptxhandler/death/).

The workshop was previously delivered by [S. Anand](https://www.s-anand.

[2021-07-31 03:37] raukadah commented on #164
* How the Python import system works
  https://tenthousandmeters.com/blog/python-behind-the-scenes-11-how-the-python-import-system-works/

* Pydon'ts
  https://mathspp.com/blog/pydonts

* Handling 100 Requests Per Second with Python & Django
  https://www.ethicalads.io/blog/2021/07/handling-100-requests-per-second-with-python-django/

* Past, Present and Future of Python
  https://www.youtube.com/

[2021-08-01 01:46] github-actions[bot] opened #168 "August 2021 PythonPune newsletter collection box"
Let's use this issue to collect Python related news, new package updates and events happening around Pune.
We can compile and publish it during **August 2021 PythonPune** meetup.

### How to add news:
Comment on this issue with news link.
Please try to include the source like tweet / reddit and a TL;DR section giving brief about the link.

### How to add new package release:
Paste the link of new

[2021-08-10 01:23] jasonbraganza commented on #168
The most comprehensive post on Python assignment expressions, I’ve read, https://realpython.com/python-walrus-operator/

[2021-08-14 08:18] jasonbraganza commented on #168
The all new (yet old) Python Launcher for Unix, https://snarky.ca/introducing-the-python-launcher-for-unix/

[2021-08-23 14:48] adtandale opened #169 "[Suggestion] New cool changes which are going to happen in python 3.9+ which did not had in 3.6, 3.7, 2.7 etc and which do create good impact while coding."
### Title of the talk

speaker can decide

### Description

[Suggestion] New cool changes which are going to happen in python 3.9+ which did not had in 3.6, 3.7, 2.7 etc and which do create good impact while coding.

### Table of contents

[Suggestion] New cool changes which are going to happen in python 3.9+ which did not had in 3.6, 3.7, 2.7 etc and which do create good impact while coding.

###

[2021-08-25 10:39] sanketverma1704 commented on #166
Hi @vishalvvr, may I know when this would be scheduled?

[2021-09-01 01:42] github-actions[bot] opened #170 "September 2021 PythonPune newsletter collection box"
Let's use this issue to collect Python related news, new package updates and events happening around Pune.
We can compile and publish it during **September 2021 PythonPune** meetup.

### How to add news:
Comment on this issue with news link.
Please try to include the source like tweet / reddit and a TL;DR section giving brief about the link.

### How to add new package release:
Paste the link of n

[2021-09-07 06:19] adtandale commented on #169
If anyone interested can take this topic.

[2021-10-01 01:45] github-actions[bot] opened #171 "October 2021 PythonPune newsletter collection box"
Let's use this issue to collect Python related news, new package updates and events happening around Pune.
We can compile and publish it during **October 2021 PythonPune** meetup.

### How to add news:
Comment on this issue with news link.
Please try to include the source like tweet / reddit and a TL;DR section giving brief about the link.

### How to add new package release:
Paste the link of new

[2021-10-13 16:01] vishalvvr commented on #166
Hey @MSanKeys963,
Sorry for the delayed response.
Can we schedule this session in next month's meetup?
Will 27th November work?
Thanks :)

[2022-02-08 12:14] sksam284 opened #172 "Cache Master data in Redis using Python"
### Title of the talk

Cache Master data in Redis using Python

### Description

Redis is a fast open source, in memory, key value data store. It delivers sub millisecond response time, enabling millions of request per second for real time applications.We will go through use cases, and explore it with python.

### Table of contents

<img width="270" alt="image" src="https://user-images.githubuserc

[2022-08-06 08:14] bhavin192 opened #173 "Have a list of sponsors on our website"
Currently we rely on meetup.com to show the venue and other sponsors. They seem to have put up a limit on how many organizations we can list there (only 15).

In addition to listing 15 entries there, we should have a page with all the sponsors on our website. Basically, we can keep the latest 14 on meetup.com, and have our sponsors page in that list of 15.

## Checklist
- [ ] https://github.com/py

[2022-08-10 15:10] ajyadav013 opened #174 "August 2022 - How an E-Commerce Tech Works"
### Title of the talk

How an E-Commerce Tech Works

### Description

Will be having a Tech overview of how an E-Commerce system (specifically Fynd) works internally
https://www.fynd.com
https://platform.fynd.com
https://www.omnifynd.com
https://www.fynd.academy
https://blog.gofynd.com
https://www.crunchbase.com/organization/fynd-3

### Table of contents

    - Microservices and their high level A

[2022-08-11 14:56] antrikshmisri opened #175 "August 2022 Talk - Checkpoint - Create restore points for your project locally"
### Title of the talk

Checkpoint - Create restore points for your project locally

### Description

## Checkpoint is a tool that helps you to create restore points for your project.
Unlike other tools like git, `checkpoint` makes the whole process as simple as a few clicks. There is no need for a remote repository, checkpoint does everything locally. Plus, `checkpoint` has a clean, clutter-free U

[2022-08-11 17:28] bhavin192 commented on #174
Hello @ajyadav013 thank you for the talk proposal. Few things/questions:
- Possible to fit in the talk within 30 minutes? That leaves us 15 minutes for Q&A (total 45 minutes).
- If I understood correctly, Fynd is a company with various products/services around e-commerce. And is not an open source tool. It would be best to stick to technical details of the platform, so that people get to learn how

[2022-08-11 17:29] bhavin192 commented on #175
@antrikshmisri looks interesting! I'm confirming the talk for this month's meetup:
https://www.meetup.com/pythonpune/events/287733490/

I hope the first slot works for you, which starts around 10:30am.

[2022-08-11 18:26] girish946 opened #176 "Deploying python applications to aws nitro enclaves"
### Title of the talk

Deploying python applications to aws nitro enclaves

### Description

In most of the cases, deploying applications on the cloud gets the work done when we need to achieve scale.
But there are also the cases where very sensitive data needs to be processed sometimes on the cloud where you may or may not trust the cloud provider as much as you like. Also sometimes multiple part

[2022-08-11 19:20] ajyadav013 commented on #174
@bhavin192
Sure we can do it in half hour
But I don't think the questions asked will be done in 15 minutes.
Yup it's not an open source, but I will be giving an overview of open source services that we use and some design patterns followed. These things are usually taught in various courses online, I will just be explaining how it's used in our platform.
Will definitely include war stories and how

[2022-08-13 13:41] antrikshmisri commented on #175
Hey @bhavin192, thanks for confirming the slot. A small note, I am not in Pune currently can I give the talk virtually?

[2022-08-18 08:41] vishalvvr commented on #174
Hello [@ajyadav013](https://github.com/ajyadav013),
Your talk is confirmed for the [August PythonPune meetup 2022](https://www.meetup.com/pythonpune/events/287733490).
This is a final confirmation check if you are available for the offline/in-person PythonPune meetup event on 27th Aug 2022 at Helpshift Technologies Pvt Ltd, Pune.
Please confirm your availability.

[2022-08-18 08:44] ajyadav013 commented on #174
@vishalvvr
Will be available.

[2022-08-20 05:07] antrikshmisri commented on #175
Ping @bhavin192

[2022-08-20 18:52] bhavin192 commented on #175
We have asked our point of contacts from Helpshift (venue sponsor) if they have required sound system (speaker) to be able to have your talk. Since you work with them, can you check if the Pune office has that? (We had asked Sarabjeet Singh Gill about this).

[2022-08-22 11:37] antrikshmisri commented on #175
I think we have that capability, I’ll still confirm it. Thanks.

[2022-10-30 05:20] gauravsitlani commented on #165
hey @vishalvvr closing this issue, since the talk was delivered and discussed in the meetup.

[2022-10-30 05:20] #165 closed, assigned to nobody

[2022-11-21 09:13] prasadseth opened #177 "Bhavesh Bhatt - Talk proposal for Python Pune Meetup."
### Title of the talk

Building ML Powered Web Applications using Python, TensorFlow Hub & Gradio

### Description

With ML becoming more mainstream, the need for reinventing the wheel has decreased & there is very little entry barrier for creating ML powered applications. TensorFlow Hub is an open repository and library for reusable machine learning. The  repository provides many pre-trained mode

[2022-11-26 18:33] akshaygin commented on #177
Excited to see you at the meetup.
Conference link: https://meet.jit.si/PythonPuneNov22
More details can be found on https://www.meetup.com/pythonpune/events/289738840/
cc @bhattbhavesh91